flows.json
[
    {
        "id": "dc9fb0fa882bd902",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a68323324c14f1d",
        "type": "tab",
        "label": "Portfolio Homepage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5b1b679fd6782b5",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23397c29904c383f",
        "type": "gauth",
        "name": "amrit-532@cellular-sylph-421807.iam.gserviceaccount.com"
    },
    {
        "id": "113feed949f2a88d",
        "type": "debug",
        "z": "dc9fb0fa882bd902",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "0aaa30e0c7817fef",
        "type": "inject",
        "z": "dc9fb0fa882bd902",
        "name": "Hello ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "113feed949f2a88d"
            ]
        ],
        "icon": "node-red/white-globe.svg",
        "info": "**This is the example of Start node**"
    },
    {
        "id": "5c0ee7e310d3a04b",
        "type": "link in",
        "z": "dc9fb0fa882bd902",
        "name": "link in 1",
        "links": [],
        "x": 230,
        "y": 360,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-yen",
        "l": true
    },
    {
        "id": "e6971d44a0f6bf2d",
        "type": "http request",
        "z": "dc9fb0fa882bd902",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "06cd5deb33cbe590",
        "type": "inject",
        "z": "dc9fb0fa882bd902",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "cafbc891f961a4d5"
            ]
        ]
    },
    {
        "id": "cafbc891f961a4d5",
        "type": "function",
        "z": "dc9fb0fa882bd902",
        "name": "function 1",
        "func": "for(let i=0;i<=100;i++){\n    node.warn(i);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "695174c99196e698"
            ]
        ]
    },
    {
        "id": "695174c99196e698",
        "type": "debug",
        "z": "dc9fb0fa882bd902",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 620,
        "wires": []
    },
    {
        "id": "qa_hub_http_in",
        "type": "http in",
        "z": "dc9fb0fa882bd902",
        "name": "",
        "url": "/testing-hub",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "qa_hub_css"
            ]
        ]
    },
    {
        "id": "qa_hub_css",
        "type": "template",
        "z": "dc9fb0fa882bd902",
        "name": "CSS Styles",
        "field": "style",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "<style>\n    :root {\n        --glass: rgba(255, 255, 255, 0.1);\n        --glass-border: rgba(255, 255, 255, 0.2);\n        --primary: #6366f1;\n        --secondary: #a855f7;\n        --dark: #0f172a;\n    }\n\n    body { \n        background: #0f172a; \n        color: #f8fafc;\n        font-family: 'Inter', sans-serif;\n        margin: 0;\n    }\n\n    .hero-bg {\n        background: linear-gradient(-45deg, #0f172a, #1e293b, #334155, #0f172a);\n        background-size: 400% 400%;\n        animation: gradient 15s ease infinite;\n    }\n\n    @keyframes gradient {\n        0% { background-position: 0% 50%; }\n        50% { background-position: 100% 50%; }\n        100% { background-position: 0% 50%; }\n    }\n\n    .glass-card {\n        background: var(--glass);\n        backdrop-filter: blur(10px);\n        -webkit-backdrop-filter: blur(10px);\n        border: 1px solid var(--glass-border);\n        border-radius: 16px;\n        transition: all 0.3s ease;\n    }\n\n    .glass-card:hover {\n        transform: translateY(-10px);\n        border-color: var(--primary);\n        box-shadow: 0 10px 30px rgba(99, 102, 241, 0.2);\n    }\n\n    .stat-circle {\n        width: 80px;\n        height: 80px;\n        border-radius: 50%;\n        background: linear-gradient(135deg, var(--primary), var(--secondary));\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        margin: 0 auto 15px;\n        font-weight: bold;\n        box-shadow: 0 0 20px rgba(168, 85, 247, 0.4);\n    }\n\n    .nav-link { color: #cbd5e1 !important; transition: 0.3s; }\n    .nav-link:hover { color: var(--primary) !important; }\n    \n    .btn-primary-custom {\n        background: linear-gradient(to right, var(--primary), var(--secondary));\n        border: none;\n        padding: 12px 30px;\n        border-radius: 50px;\n        font-weight: 600;\n        transition: 0.3s;\n        color: white; text-decoration: none; display: inline-block;\n    }\n\n    .btn-primary-custom:hover {\n        opacity: 0.9;\n        transform: scale(1.05);\n        color: white;\n    }\n</style>",
        "output": "str",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "qa_hub_html"
            ]
        ]
    },
    {
        "id": "qa_hub_html",
        "type": "template",
        "z": "dc9fb0fa882bd902",
        "name": "HTML Layout",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>QA Dashboard | Testing Central</title>\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css\">\n    {{{style}}}\n</head>\n<body class=\"hero-bg\">\n\n    <nav class=\"navbar navbar-expand-lg sticky-top border-bottom border-secondary\">\n        <div class=\"container\">\n            <a class=\"navbar-brand fw-bold text-white\" href=\"#\"><i class=\"bi bi-shield-check text-primary\"></i> QA_HUB</a>\n            <div class=\"collapse navbar-collapse\" id=\"navbarNav\">\n                <ul class=\"navbar-nav ms-auto\">\n                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Environment</a></li>\n                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Defect Matrix</a></li>\n                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"#\">Automation API</a></li>\n                </ul>\n            </div>\n        </div>\n    </nav>\n\n    <header class=\"py-5 text-center\">\n        <div class=\"container py-5\">\n            <span class=\"badge rounded-pill bg-primary mb-3\">V 2.0.4 Release</span>\n            <h1 class=\"display-3 fw-bold mb-4 text-white\">Precision Testing <br><span class=\"text-primary\">Data Intelligence</span></h1>\n            <p class=\"lead text-secondary mx-auto mb-5\" style=\"max-width: 600px;\">\n                Centralizing QA metrics, automation logs, and manual testing resources into one real-time node-driven ecosystem.\n            </p>\n            <div class=\"d-flex justify-content-center gap-3\">\n                <a href=\"#\" class=\"btn btn-primary-custom\">View Live Logs</a>\n                <button class=\"btn btn-outline-light px-4 rounded-pill\">Documentation</button>\n            </div>\n        </div>\n    </header>\n\n    <div class=\"container mb-5\">\n        <div class=\"row g-4 text-center\">\n            <div class=\"col-md-3\">\n                <div class=\"glass-card p-4\">\n                    <div class=\"stat-circle\">98%</div>\n                    <small class=\"text-secondary\">Automation Success</small>\n                </div>\n            </div>\n            <div class=\"col-md-3\">\n                <div class=\"glass-card p-4\">\n                    <div class=\"stat-circle text-warning\">14</div>\n                    <small class=\"text-secondary\">Active Sprints</small>\n                </div>\n            </div>\n            <div class=\"col-md-3\">\n                <div class=\"glass-card p-4\">\n                    <div class=\"stat-circle text-info\">2.4k</div>\n                    <small class=\"text-secondary\">Total Test Cases</small>\n                </div>\n            </div>\n            <div class=\"col-md-3\">\n                <div class=\"glass-card p-4\">\n                    <div class=\"stat-circle text-danger\">0</div>\n                    <small class=\"text-secondary\">Critical Blockers</small>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"container my-5 py-5\">\n        <div class=\"row g-4\">\n            <div class=\"col-lg-4\">\n                <div class=\"glass-card p-5 h-100\">\n                    <i class=\"bi bi-robot fs-1 text-primary\"></i>\n                    <h3 class=\"mt-4 text-white\">Automation Hub</h3>\n                    <p class=\"text-secondary\">Real-time status of Selenium, Playwright, and Cypress suites running in Jenkins.</p>\n                </div>\n            </div>\n            <div class=\"col-lg-4\">\n                <div class=\"glass-card p-5 h-100\">\n                    <i class=\"bi bi-database-check fs-1 text-secondary\"></i>\n                    <h3 class=\"mt-4 text-white\">Test Data Management</h3>\n                    <p class=\"text-secondary\">Dynamic test data generation and environment variable configuration.</p>\n                </div>\n            </div>\n            <div class=\"col-lg-4\">\n                <div class=\"glass-card p-5 h-100\">\n                    <i class=\"bi bi-graph-up-arrow fs-1 text-info\"></i>\n                    <h3 class=\"mt-4 text-white\">Performance Insights</h3>\n                    <p class=\"text-secondary\">JMeter and K6 metrics visualized with Node-RED integration.</p>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <footer class=\"text-center py-5 border-top border-secondary mt-5\">\n        <p class=\"text-secondary\">Node-RED Testing Portal &copy; 2026</p>\n    </footer>\n\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js\"></script>\n</body>\n</html>",
        "output": "str",
        "x": 650,
        "y": 820,
        "wires": [
            [
                "qa_hub_response"
            ]
        ]
    },
    {
        "id": "qa_hub_response",
        "type": "http response",
        "z": "dc9fb0fa882bd902",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "portfolio_http_in",
        "type": "http in",
        "z": "dc9fb0fa882bd902",
        "name": "",
        "url": "/portfolio1",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 1420,
        "wires": [
            [
                "portfolio_template"
            ]
        ]
    },
    {
        "id": "portfolio_template",
        "type": "template",
        "z": "dc9fb0fa882bd902",
        "name": "Sleek Portfolio UI",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html lang=\"en\" class=\"scroll-smooth\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>QA Engineer | Personal Portfolio</title>\n    <!-- Tailwind CSS -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <!-- Bootstrap Icons -->\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css\">\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;700&display=swap');\n        \n        body {\n            font-family: 'Plus Jakarta Sans', sans-serif;\n            background-color: #090d16;\n            background-image: \n                radial-gradient(at 0% 0%, hsla(244,70%,20%,0.4) 0px, transparent 50%),\n                radial-gradient(at 100% 100%, hsla(260,70%,20%,0.3) 0px, transparent 50%);\n        }\n\n        .mono-font {\n            font-family: 'JetBrains Mono', monospace;\n        }\n\n        .glass-card {\n            background: rgba(13, 20, 35, 0.45);\n            backdrop-filter: blur(12px);\n            -webkit-backdrop-filter: blur(12px);\n            border: 1px solid rgba(255, 255, 255, 0.08);\n        }\n\n        .glow-hover:hover {\n            border-color: rgba(99, 102, 241, 0.5);\n            box-shadow: 0 0 25px rgba(99, 102, 241, 0.15);\n            transform: translateY(-4px);\n        }\n        \n        /* Custom scrollbar */\n        ::-webkit-scrollbar {\n            width: 8px;\n        }\n        ::-webkit-scrollbar-track {\n            background: #090d16;\n        }\n        ::-webkit-scrollbar-thumb {\n            background: #1e293b;\n            border-radius: 4px;\n        }\n        ::-webkit-scrollbar-thumb:hover {\n            background: #334155;\n        }\n    </style>\n</head>\n<body class=\"text-slate-100 min-h-screen selection:bg-indigo-500/30 selection:text-indigo-200\">\n\n    <!-- Navigation Header -->\n    <header class=\"sticky top-0 z-50 w-full glass-card border-b border-slate-800/80\">\n        <div class=\"max-w-7xl mx-auto px-6 h-16 flex items-center justify-between\">\n            <a href=\"#\" class=\"flex items-center space-x-2 font-extrabold text-xl tracking-wide bg-gradient-to-r from-indigo-400 to-purple-400 bg-clip-text text-transparent\">\n                <i class=\"bi bi-terminal-fill text-indigo-400\"></i>\n                <span>AMRIT PORTFOLIO</span>\n            </a>\n            <nav class=\"hidden md:flex items-center space-x-8 text-sm font-medium text-slate-300\">\n                <a href=\"#about\" class=\"hover:text-indigo-400 transition-colors\">About</a>\n                <a href=\"#skills\" class=\"hover:text-indigo-400 transition-colors\">Skills</a>\n                <a href=\"#experience\" class=\"hover:text-indigo-400 transition-colors\">Experience</a>\n                <a href=\"#test-suite\" class=\"hover:text-indigo-400 transition-colors\">Live Sandbox</a>\n                <a href=\"#contact\" class=\"hover:text-indigo-400 transition-colors\">Contact</a>\n            </nav>\n            <div class=\"flex items-center space-x-4\">\n                <a href=\"#test-suite\" class=\"relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs font-semibold rounded-full group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-800 mt-2\">\n                    <span class=\"relative px-4 py-2 transition-all ease-in duration-75 bg-slate-950 rounded-full group-hover:bg-opacity-0\">\n                        <i class=\"bi bi-play-circle-fill mr-1.5 text-indigo-400 group-hover:text-white\"></i> Run Page Test\n                    </span>\n                </a>\n            </div>\n        </div>\n    </header>\n\n    <!-- Hero Section -->\n    <section class=\"relative max-w-7xl mx-auto px-6 pt-16 pb-24 md:py-32 flex flex-col items-center text-center\">\n        <!-- Floating Decorative Circle -->\n        <div class=\"absolute -top-12 left-1/2 -translate-x-1/2 w-96 h-96 bg-indigo-500/10 rounded-full blur-3xl pointer-events-none\"></div>\n\n        <span class=\"px-4 py-1.5 rounded-full text-xs font-semibold glass-card border-indigo-500/30 text-indigo-300 mb-6 inline-flex items-center gap-1.5 animate-pulse\">\n            <span class=\"w-2 h-2 rounded-full bg-emerald-500\"></span> Available for Freelance & QA Roles\n        </span>\n        \n        <h1 class=\"text-4xl md:text-6xl font-extrabold tracking-tight mb-6 max-w-4xl leading-tight\">\n            Hi, I'm <span class=\"bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 bg-clip-text text-transparent\">Amrit Raj</span>.<br>\n            I Break Code to Build Premium Software Reliability.\n        </h1>\n        <p class=\"text-slate-400 text-lg md:text-xl max-w-2xl mb-10 leading-relaxed\">\n            A Software Quality Assurance & Automation Engineer specializing in building ultra-robust end-to-end test suites, dynamic performance scaling, and seamless CI/CD quality pipelines.\n        </p>\n\n        <div class=\"flex flex-col sm:flex-row gap-4 justify-center items-center w-full\">\n            <a href=\"#test-suite\" class=\"w-full sm:w-auto px-8 py-3.5 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl font-semibold shadow-lg shadow-indigo-600/20 transition-all hover:-translate-y-0.5\">\n                <i class=\"bi bi-cpu-fill mr-2\"></i> Test My Website\n            </a>\n            <a href=\"#contact\" class=\"w-full sm:w-auto px-8 py-3.5 bg-slate-800 hover:bg-slate-700 border border-slate-700 rounded-xl font-semibold transition-all hover:-translate-y-0.5\">\n                Get In Touch\n            </a>\n        </div>\n    </section>\n\n    <!-- Interactive Test Sandbox Section -->\n    <section id=\"test-suite\" class=\"max-w-5xl mx-auto px-6 py-12\">\n        <div class=\"text-center mb-10\">\n            <h2 class=\"text-3xl font-bold mb-2\">Interactive Terminal Sandbox</h2>\n            <p class=\"text-slate-400\">Run an automated end-to-end audit directly on this portfolio page to witness testing live.</p>\n        </div>\n\n        <!-- Terminal UI -->\n        <div class=\"glass-card rounded-2xl border border-slate-800 shadow-2xl overflow-hidden\">\n            <!-- Window Header -->\n            <div class=\"bg-slate-900/90 px-5 py-3.5 flex items-center justify-between border-b border-slate-800/60\">\n                <div class=\"flex items-center space-x-2\">\n                    <span class=\"w-3.5 h-3.5 rounded-full bg-rose-500/80 inline-block\"></span>\n                    <span class=\"w-3.5 h-3.5 rounded-full bg-amber-500/80 inline-block\"></span>\n                    <span class=\"w-3.5 h-3.5 rounded-full bg-emerald-500/80 inline-block\"></span>\n                    <span class=\"text-xs text-slate-400 font-medium ml-4 mono-font\">PlaywrightRunner@QA-Hub:~</span>\n                </div>\n                <span class=\"text-xs bg-slate-800 px-2.5 py-1 rounded text-slate-400 mono-font\">headless: true</span>\n            </div>\n            <!-- Console Output -->\n            <div class=\"p-6 bg-[#060810]/95 min-h-[300px] max-h-[450px] overflow-y-auto text-sm mono-font space-y-2.5 text-left\" id=\"terminal-stdout\">\n                <div class=\"text-slate-500\">// Click the button below to execute play-by-play automated tests...</div>\n                <div class=\"text-indigo-400\">$ npx playwright test tests/portfolio-verification.spec.ts</div>\n            </div>\n            <!-- Terminal Action Bar -->\n            <div class=\"bg-slate-900/60 px-6 py-4 flex flex-col sm:flex-row items-center justify-between gap-4 border-t border-slate-800\">\n                <div class=\"flex items-center space-x-4\">\n                    <span class=\"text-xs text-slate-400\">Test Suite: <span class=\"text-indigo-400 font-bold\">4 Automated Audits</span></span>\n                    <span id=\"terminal-status-badge\" class=\"px-2 py-0.5 rounded text-[10px] font-bold uppercase tracking-wider bg-slate-800 text-slate-400\">idle</span>\n                </div>\n                <button onclick=\"startTerminalTest()\" id=\"btn-run-tests\" class=\"w-full sm:w-auto px-5 py-2.5 bg-emerald-600 hover:bg-emerald-500 text-white font-bold rounded-lg transition-colors inline-flex items-center justify-center gap-2\">\n                    <i class=\"bi bi-play-fill\"></i> Run Playwright Tests\n                </button>\n            </div>\n        </div>\n    </section>\n\n    <!-- Professional Skill Metrics -->\n    <section id=\"skills\" class=\"max-w-7xl mx-auto px-6 py-20\">\n        <div class=\"text-center mb-16\">\n            <h2 class=\"text-3xl font-bold mb-3\">The Testing & Development Stack</h2>\n            <p class=\"text-slate-400 max-w-lg mx-auto\">My specialized core tools, automated testing ecosystems, and development workflows.</p>\n        </div>\n\n        <div class=\"grid grid-cols-1 md:grid-cols-3 gap-8\">\n            <!-- Automation Frameworks -->\n            <div class=\"glass-card rounded-2xl p-6 glow-hover transition-all duration-300\">\n                <div class=\"w-12 h-12 rounded-xl bg-indigo-500/10 flex items-center justify-center text-indigo-400 text-2xl mb-6\">\n                    <i class=\"bi bi-robot\"></i>\n                </div>\n                <h3 class=\"text-xl font-bold mb-4\">Automation Suites</h3>\n                <ul class=\"space-y-3.5 text-slate-300\">\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Playwright / Cypress</span>\n                        <span class=\"text-xs font-bold bg-indigo-500/10 text-indigo-300 px-2 py-0.5 rounded\">Expert</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Selenium WebDriver</span>\n                        <span class=\"text-xs font-bold bg-indigo-500/10 text-indigo-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Appium (Mobile)</span>\n                        <span class=\"text-xs font-bold bg-indigo-500/10 text-indigo-300 px-2 py-0.5 rounded\">Intermediate</span>\n                    </li>\n                </ul>\n            </div>\n\n            <!-- API & Performance -->\n            <div class=\"glass-card rounded-2xl p-6 glow-hover transition-all duration-300\">\n                <div class=\"w-12 h-12 rounded-xl bg-purple-500/10 flex items-center justify-center text-purple-400 text-2xl mb-6\">\n                    <i class=\"bi bi-speedometer2\"></i>\n                </div>\n                <h3 class=\"text-xl font-bold mb-4\">API & Performance</h3>\n                <ul class=\"space-y-3.5 text-slate-300\">\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-purple-400 mr-2\"></i> Postman & REST Assured</span>\n                        <span class=\"text-xs font-bold bg-purple-500/10 text-purple-300 px-2 py-0.5 rounded\">Expert</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-purple-400 mr-2\"></i> JMeter & k6 Load Tests</span>\n                        <span class=\"text-xs font-bold bg-purple-500/10 text-purple-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-purple-400 mr-2\"></i> SoapUI & GraphQL testing</span>\n                        <span class=\"text-xs font-bold bg-purple-500/10 text-purple-300 px-2 py-0.5 rounded\">Intermediate</span>\n                    </li>\n                </ul>\n            </div>\n\n            <!-- DevOps & CI/CD Pipelines -->\n            <div class=\"glass-card rounded-2xl p-6 glow-hover transition-all duration-300\">\n                <div class=\"w-12 h-12 rounded-xl bg-emerald-500/10 flex items-center justify-center text-emerald-400 text-2xl mb-6\">\n                    <i class=\"bi bi-git\"></i>\n                </div>\n                <h3 class=\"text-xl font-bold mb-4\">CI/CD & DevOps</h3>\n                <ul class=\"space-y-3.5 text-slate-300\">\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> GitHub Actions</span>\n                        <span class=\"text-xs font-bold bg-emerald-500/10 text-emerald-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Jenkins & Docker</span>\n                        <span class=\"text-xs font-bold bg-emerald-500/10 text-emerald-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> AWS Cloud Infrastructure</span>\n                        <span class=\"text-xs font-bold bg-emerald-500/10 text-emerald-300 px-2 py-0.5 rounded\">Intermediate</span>\n                    </li>\n                </ul>\n            </div>\n        </div>\n    </section>\n\n    <!-- My Experience Milestone Timeline -->\n    <section id=\"experience\" class=\"max-w-4xl mx-auto px-6 py-12\">\n        <div class=\"text-center mb-14\">\n            <h2 class=\"text-3xl font-bold mb-2\">My Professional Path</h2>\n            <p class=\"text-slate-400\">A chronicle of my contributions in engineering high-quality releases.</p>\n        </div>\n\n        <div class=\"relative border-l border-slate-800 ml-4 md:ml-6\">\n            <!-- Card 1 -->\n            <div class=\"mb-12 ml-6 relative\">\n                <span class=\"absolute -left-[31px] top-1.5 w-4 h-4 rounded-full bg-indigo-500 border-4 border-slate-950\"></span>\n                <div class=\"glass-card p-6 rounded-xl\">\n                    <div class=\"flex flex-col md:flex-row md:items-center justify-between mb-4\">\n                        <div>\n                            <h4 class=\"text-lg font-bold text-white\">Software Test Engineer</h4>\n                            <span class=\"text-indigo-400 text-sm\">EBot AI Solutions PVT LTD</span>\n                        </div>\n                        <span class=\"text-xs text-slate-400 mt-2 md:mt-0 font-semibold px-2.5 py-1 bg-slate-900 rounded-full border border-slate-800\">April 2024 - Present</span>\n                    </div>\n                    <p class=\"text-slate-400 text-sm leading-relaxed\">\n                        Built custom headless Playwright pipelines reducing test runtime by over 45%. Oversaw a robust manual-to-automation shift, increasing feature verification velocity. \n                    </p>\n                </div>\n            </div>\n            <!-- Card 2 -->\n            <div class=\"mb-12 ml-6 relative\">\n                <span class=\"absolute -left-[31px] top-1.5 w-4 h-4 rounded-full bg-purple-500 border-4 border-slate-950\"></span>\n                <div class=\"glass-card p-6 rounded-xl\">\n                    <div class=\"flex flex-col md:flex-row md:items-center justify-between mb-4\">\n                        <div>\n                            <h4 class=\"text-lg font-bold text-white\">QA Intern</h4>\n                            <span class=\"text-purple-400 text-sm\">Test Yantra</span>\n                        </div>\n                        <span class=\"text-xs text-slate-400 mt-2 md:mt-0 font-semibold px-2.5 py-1 bg-slate-900 rounded-full border border-slate-800\">June 2023 - March 2024</span>\n                    </div>\n                    <p class=\"text-slate-400 text-sm leading-relaxed\">\n                        Authored and executed over 1,500 integration and sanity checks. Integrated Jenkins CI automation ensuring zero critical escapes reaching customer releases.\n                    </p>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- Professional Stats (Real QA Metrics) -->\n    <section class=\"max-w-7xl mx-auto px-6 py-12\">\n        <div class=\"grid grid-cols-2 lg:grid-cols-4 gap-6\">\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-indigo-400 block mb-2\">4,500+</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Bugs Logged & Fixed</span>\n            </div>\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-purple-400 block mb-2\">99.8%</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Production Code Coverage</span>\n            </div>\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-emerald-400 block mb-2\">350+</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Automated Test Scripts</span>\n            </div>\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-pink-400 block mb-2\">0%</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Critical Escapes Rate</span>\n            </div>\n        </div>\n    </section>\n\n    <!-- Contact Section -->\n    <section id=\"contact\" class=\"max-w-3xl mx-auto px-6 py-20\">\n        <div class=\"glass-card rounded-3xl p-8 md:p-12 relative border border-slate-800\">\n            <div class=\"absolute -bottom-10 right-10 w-48 h-48 bg-purple-500/10 rounded-full blur-2xl pointer-events-none\"></div>\n            \n            <h2 class=\"text-3xl font-bold text-center mb-2\">Connect & Start Collaborating</h2>\n            <p class=\"text-slate-400 text-center mb-8\">Have a project or a platform that needs precise validation? Reach out today!</p>\n            \n            <form class=\"space-y-6\">\n                <div class=\"grid grid-cols-1 md:grid-cols-2 gap-6\">\n                    <div>\n                        <label class=\"block text-xs font-semibold text-slate-400 uppercase tracking-wider mb-2\">Full Name</label>\n                        <input type=\"text\" placeholder=\"John Doe\" class=\"w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3.5 text-sm text-slate-200 focus:outline-none focus:border-indigo-500 transition-colors\">\n                    </div>\n                    <div>\n                        <label class=\"block text-xs font-semibold text-slate-400 uppercase tracking-wider mb-2\">Email Address</label>\n                        <input type=\"email\" placeholder=\"john@example.com\" class=\"w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3.5 text-sm text-slate-200 focus:outline-none focus:border-indigo-500 transition-colors\">\n                    </div>\n                </div>\n                <div>\n                    <label class=\"block text-xs font-semibold text-slate-400 uppercase tracking-wider mb-2\">Your Message</label>\n                    <textarea rows=\"4\" placeholder=\"Let's build reliable software systems together...\" class=\"w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3.5 text-sm text-slate-200 focus:outline-none focus:border-indigo-500 transition-colors\"></textarea>\n                </div>\n                <button type=\"submit\" class=\"w-full py-4 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl font-bold shadow-lg shadow-indigo-600/10 transition-colors\">\n                    Send Message\n                </button>\n            </form>\n        </div>\n    </section>\n\n    <footer class=\"text-center py-10 border-t border-slate-900 text-xs text-slate-500\">\n        <p>© 2026 QA Portfolio Portal. Engineered using modern Node-RED backend controllers.</p>\n    </footer>\n// Async Form Handler\ndocument.getElementById('contact-form').addEventListener('submit', async function(e) {\ne.preventDefault();\nconst btn = e.target.querySelector('button[type=\"submit\"]');\nconst originalContent = btn.innerHTML;\n\n// Set Loading state\nbtn.disabled = true;\nbtn.innerHTML = `<i class=\"bi bi-arrow-repeat animate-spin mr-2\"></i> Routing Message...`;\n\nconst payload = {\nname: document.getElementById('contact-name').value,\nemail: document.getElementById('contact-email').value,\nmessage: document.getElementById('contact-message').value\n};\n\ntry {\nconst response = await fetch('/portfolio-contact', {\nmethod: 'POST',\nheaders: {\n'Content-Type': 'application/json'\n},\nbody: JSON.stringify(payload)\n});\n\nif (response.ok) {\nbtn.innerHTML = `<i class=\"bi bi-check-circle-fill mr-2\"></i> Message Logged!`;\nbtn.className = \"w-full py-4 bg-emerald-600 text-white rounded-xl font-bold shadow-lg transition-colors\";\ne.target.reset();\n} else {\nthrow new Error('Endpoint failure');\n}\n} catch (err) {\nbtn.innerHTML = `<i class=\"bi bi-exclamation-triangle-fill mr-2\"></i> Route Blocked (Error)`;\nbtn.className = \"w-full py-4 bg-rose-600 text-white rounded-xl font-bold shadow-lg transition-colors\";\n}\n\n// Reset to default button state after 4 seconds\nsetTimeout(() => {\nbtn.disabled = false;\nbtn.innerHTML = originalContent;\nbtn.className = \"w-full py-4 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl font-bold shadow-lg\nshadow-indigo-600/10 transition-colors\";\n}, 4000);\n    <!-- Live Terminal Simulation Script -->\n    <script>\n        function startTerminalTest() {\n            const btn = document.getElementById('btn-run-tests');\n            const stdout = document.getElementById('terminal-stdout');\n            const statusBadge = document.getElementById('terminal-status-badge');\n            \n            if (btn.disabled) return;\n            \n            btn.disabled = true;\n            btn.innerHTML = `<i class=\"bi bi-arrow-repeat animate-spin\"></i> Auditor Running...`;\n            statusBadge.className = \"px-2 py-0.5 rounded text-[10px] font-bold uppercase tracking-wider bg-amber-500/10 text-amber-400\";\n            statusBadge.innerText = \"running\";\n            \n            stdout.innerHTML = \"\"; \n            \n            const logs = [\n                { text: \"[INFO - 12:55:01] Initiating Playwright modern headless auditor...\", color: \"text-slate-400\" },\n                { text: \"[INFO - 12:55:02] Target web host resolved: http://localhost:1880/portfolio\", color: \"text-indigo-400\" },\n                { text: \"[TEST - STEP 1] Checking page loading status & HTML document tree integrity...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] HTTP Status Code returned 200 (Success).\", color: \"text-emerald-400\" },\n                { text: \"[TEST - STEP 2] Running Tailwind CSS responsive container checks...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] Flexbox layers matching system breakpoints (sm / md / lg).\", color: \"text-emerald-400\" },\n                { text: \"[TEST - STEP 3] Auditing interactive DOM event hooks & JavaScript loops...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] Node-RED listener responses verified safely.\", color: \"text-emerald-400\" },\n                { text: \"[TEST - STEP 4] Running visual regression alignment validation...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] 0 mismatched pixels detected in hero components.\", color: \"text-emerald-400\" },\n                { text: \"============================================================\", color: \"text-slate-500\" },\n                { text: \"TEST EXECUTION RESULT SUMMARY:\", color: \"text-slate-100 font-bold\" },\n                { text: \"✔ 4 Passed  |  ✖ 0 Failed  |  🕒 Duration: 2.1s\", color: \"text-emerald-500 font-bold\" },\n                { text: \"[PROCESS EXIT] Playwright process exited cleanly with status 0.\", color: \"text-indigo-400\" }\n            ];\n            \n            let delay = 0;\n            logs.forEach((log) => {\n                setTimeout(() => {\n                    const line = document.createElement('div');\n                    line.className = log.color;\n                    line.innerText = log.text;\n                    stdout.appendChild(line);\n                    stdout.scrollTop = stdout.scrollHeight;\n                }, delay);\n                delay += 350; \n            });\n            \n            setTimeout(() => {\n                btn.disabled = false;\n                btn.innerHTML = `<i class=\"bi bi-play-fill\"></i> Run Playwright Tests`;\n                statusBadge.className = \"px-2 py-0.5 rounded text-[10px] font-bold uppercase tracking-wider bg-emerald-500/10 text-emerald-400\";\n                statusBadge.innerText = \"passed\";\n            }, delay);\n        }\n    </script>\n</body>\n</html>",
        "output": "str",
        "x": 480,
        "y": 1420,
        "wires": [
            [
                "portfolio_response"
            ]
        ]
    },
    {
        "id": "portfolio_response",
        "type": "http response",
        "z": "dc9fb0fa882bd902",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e574cc5fd0e77ca7",
        "type": "http in",
        "z": "1a68323324c14f1d",
        "name": "",
        "url": "/portfolio",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "896fbc8a73aec256"
            ]
        ]
    },
    {
        "id": "896fbc8a73aec256",
        "type": "template",
        "z": "1a68323324c14f1d",
        "name": "Sleek Portfolio UI",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html lang=\"en\" class=\"scroll-smooth\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Amrit's Portfolio</title>\n    <!-- Tailwind CSS -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <!-- Bootstrap Icons -->\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css\">\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;700&display=swap');\n        \n        body {\n            font-family: 'Plus Jakarta Sans', sans-serif;\n            background-color: #090d16;\n            background-image: \n                radial-gradient(at 0% 0%, hsla(244,70%,20%,0.4) 0px, transparent 50%),\n                radial-gradient(at 100% 100%, hsla(260,70%,20%,0.3) 0px, transparent 50%);\n        }\n\n        .mono-font {\n            font-family: 'JetBrains Mono', monospace;\n        }\n\n        .glass-card {\n            background: rgba(13, 20, 35, 0.45);\n            backdrop-filter: blur(12px);\n            -webkit-backdrop-filter: blur(12px);\n            border: 1px solid rgba(255, 255, 255, 0.08);\n        }\n\n        .glow-hover:hover {\n            border-color: rgba(99, 102, 241, 0.5);\n            box-shadow: 0 0 25px rgba(99, 102, 241, 0.15);\n            transform: translateY(-4px);\n        }\n        \n        /* Custom scrollbar */\n        ::-webkit-scrollbar {\n            width: 8px;\n        }\n        ::-webkit-scrollbar-track {\n            background: #090d16;\n        }\n        ::-webkit-scrollbar-thumb {\n            background: #1e293b;\n            border-radius: 4px;\n        }\n        ::-webkit-scrollbar-thumb:hover {\n            background: #334155;\n        }\n    </style>\n</head>\n<body class=\"text-slate-100 min-h-screen selection:bg-indigo-500/30 selection:text-indigo-200\">\n\n    <!-- Navigation Header -->\n    <header class=\"sticky top-0 z-50 w-full glass-card border-b border-slate-800/80\">\n        <div class=\"max-w-7xl mx-auto px-6 h-16 flex items-center justify-between\">\n            <a href=\"#\" class=\"flex items-center space-x-2 font-extrabold text-xl tracking-wide bg-gradient-to-r from-indigo-400 to-purple-400 bg-clip-text text-transparent\">\n                <i class=\"bi bi-terminal-fill text-indigo-400\"></i>\n                <span>AMRIT PORTFOLIO</span>\n            </a>\n            <nav class=\"hidden md:flex items-center space-x-8 text-sm font-medium text-slate-300\">\n                <a href=\"#about\" class=\"hover:text-indigo-400 transition-colors\">About</a>\n                <a href=\"#skills\" class=\"hover:text-indigo-400 transition-colors\">Skills</a>\n                <a href=\"#experience\" class=\"hover:text-indigo-400 transition-colors\">Experience</a>\n                <a href=\"#test-suite\" class=\"hover:text-indigo-400 transition-colors\">Live Sandbox</a>\n                <a href=\"#contact\" class=\"hover:text-indigo-400 transition-colors\">Contact</a>\n            </nav>\n            <div class=\"flex items-center space-x-4\">\n                <a href=\"#test-suite\" class=\"relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-xs font-semibold rounded-full group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-800 mt-2\">\n                    <span class=\"relative px-4 py-2 transition-all ease-in duration-75 bg-slate-950 rounded-full group-hover:bg-opacity-0\">\n                        <i class=\"bi bi-play-circle-fill mr-1.5 text-indigo-400 group-hover:text-white\"></i> Run Page Test\n                    </span>\n                </a>\n            </div>\n        </div>\n    </header>\n\n    <!-- Hero Section -->\n    <section class=\"relative max-w-7xl mx-auto px-6 pt-16 pb-24 md:py-32 flex flex-col items-center text-center\">\n        <!-- Floating Decorative Circle -->\n        <div class=\"absolute -top-12 left-1/2 -translate-x-1/2 w-96 h-96 bg-indigo-500/10 rounded-full blur-3xl pointer-events-none\"></div>\n\n        <span class=\"px-4 py-1.5 rounded-full text-xs font-semibold glass-card border-indigo-500/30 text-indigo-300 mb-6 inline-flex items-center gap-1.5 animate-pulse\">\n            <span class=\"w-2 h-2 rounded-full bg-emerald-500\"></span> Available for Freelance & QA Roles\n        </span>\n        \n        <h1 class=\"text-4xl md:text-6xl font-extrabold tracking-tight mb-6 max-w-4xl leading-tight\">\n            Hi, I'm <span class=\"bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 bg-clip-text text-transparent\">Amrit Raj</span>.<br>\n            I Break Code to Build Premium Software Reliability.\n        </h1>\n        <p class=\"text-slate-400 text-lg md:text-xl max-w-2xl mb-6 leading-relaxed\">\n            A Software Quality Assurance & Automation Engineer specializing in building ultra-robust end-to-end test suites, dynamic performance scaling, and seamless CI/CD quality pipelines.\n        </p>\n\n        <!-- Social Media Profiles Quicklinks (New Feature) -->\n        <div class=\"flex items-center justify-center gap-6 mb-10 text-2xl text-slate-400\">\n            <a href=\"https://in.linkedin.com/in/rajamrit23\" target=\"_blank\" class=\"hover:text-indigo-400 hover:scale-110 transition-all\" title=\"LinkedIn\"><i class=\"bi bi-linkedin\"></i></a>\n            <a href=\"https://github.com/rajamrit23\" target=\"_blank\" class=\"hover:text-indigo-400 hover:scale-110 transition-all\" title=\"GitHub\"><i class=\"bi bi-github\"></i></a>\n            <a href=\"https://www.instagram.com/amrit_raj23/\" target=\"_blank\" class=\"hover:text-indigo-400 hover:scale-110 transition-all\" title=\"Instagram\"><i class=\"bi bi-instagram\"></i></a>\n            <a href=\"https://www.facebook.com/rajamrit23/\" target=\"_blank\" class=\"hover:text-indigo-400 hover:scale-110 transition-all\" title=\"Facebook\"><i class=\"bi bi-facebook\"></i></a>\n            <a href=\"mailto:amritraj.qa@gmail.com\" class=\"hover:text-indigo-400 hover:scale-110 transition-all\" title=\"Gmail\"><i class=\"bi bi-envelope-at-fill\"></i></a>\n        </div>\n\n        <div class=\"flex flex-col sm:flex-row gap-4 justify-center items-center w-full\">\n            <a href=\"#test-suite\" class=\"w-full sm:w-auto px-8 py-3.5 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl font-semibold shadow-lg shadow-indigo-600/20 transition-all hover:-translate-y-0.5\">\n                <i class=\"bi bi-cpu-fill mr-2\"></i> Test My Website\n            </a>\n            <a href=\"#contact\" class=\"w-full sm:w-auto px-8 py-3.5 bg-slate-800 hover:bg-slate-700 border border-slate-700 rounded-xl font-semibold transition-all hover:-translate-y-0.5\">\n                Get In Touch\n            </a>\n        </div>\n    </section>\n\n    <!-- Interactive Test Sandbox Section -->\n    <section id=\"test-suite\" class=\"max-w-5xl mx-auto px-6 py-12\">\n        <div class=\"text-center mb-10\">\n            <h2 class=\"text-3xl font-bold mb-2\">Interactive Terminal Sandbox</h2>\n            <p class=\"text-slate-400\">Run an automated end-to-end audit directly on this portfolio page to witness testing live.</p>\n        </div>\n\n        <!-- Terminal UI -->\n        <div class=\"glass-card rounded-2xl border border-slate-800 shadow-2xl overflow-hidden\">\n            <!-- Window Header -->\n            <div class=\"bg-slate-900/90 px-5 py-3.5 flex items-center justify-between border-b border-slate-800/60\">\n                <div class=\"flex items-center space-x-2\">\n                    <span class=\"w-3.5 h-3.5 rounded-full bg-rose-500/80 inline-block\"></span>\n                    <span class=\"w-3.5 h-3.5 rounded-full bg-amber-500/80 inline-block\"></span>\n                    <span class=\"w-3.5 h-3.5 rounded-full bg-emerald-500/80 inline-block\"></span>\n                    <span class=\"text-xs text-slate-400 font-medium ml-4 mono-font\">PlaywrightRunner@QA-Hub:~</span>\n                </div>\n                <span class=\"text-xs bg-slate-800 px-2.5 py-1 rounded text-slate-400 mono-font\">headless: true</span>\n            </div>\n            <!-- Console Output -->\n            <div class=\"p-6 bg-[#060810]/95 min-h-[300px] max-h-[450px] overflow-y-auto text-sm mono-font space-y-2.5 text-left\" id=\"terminal-stdout\">\n                <div class=\"text-slate-500\">// Click the button below to execute play-by-play automated tests...</div>\n                <div class=\"text-indigo-400\">$ npx playwright test tests/portfolio-verification.spec.ts</div>\n            </div>\n            <!-- Terminal Action Bar -->\n            <div class=\"bg-slate-900/60 px-6 py-4 flex flex-col sm:flex-row items-center justify-between gap-4 border-t border-slate-800\">\n                <div class=\"flex items-center space-x-4\">\n                    <span class=\"text-xs text-slate-400\">Test Suite: <span class=\"text-indigo-400 font-bold\">4 Automated Audits</span></span>\n                    <span id=\"terminal-status-badge\" class=\"px-2 py-0.5 rounded text-[10px] font-bold uppercase tracking-wider bg-slate-800 text-slate-400\">idle</span>\n                </div>\n                <button onclick=\"startTerminalTest()\" id=\"btn-run-tests\" class=\"w-full sm:w-auto px-5 py-2.5 bg-emerald-600 hover:bg-emerald-500 text-white font-bold rounded-lg transition-colors inline-flex items-center justify-center gap-2\">\n                    <i class=\"bi bi-play-fill\"></i> Run Playwright Tests\n                </button>\n            </div>\n        </div>\n    </section>\n\n    <!-- Professional Skill Metrics -->\n    <section id=\"skills\" class=\"max-w-7xl mx-auto px-6 py-20\">\n        <div class=\"text-center mb-16\">\n            <h2 class=\"text-3xl font-bold mb-3\">The Testing & Development Stack</h2>\n            <p class=\"text-slate-400 max-w-lg mx-auto\">My specialized core tools, automated testing ecosystems, and development workflows.</p>\n        </div>\n\n        <div class=\"grid grid-cols-1 md:grid-cols-3 gap-8\">\n            <!-- Automation Frameworks -->\n            <div class=\"glass-card rounded-2xl p-6 glow-hover transition-all duration-300\">\n                <div class=\"w-12 h-12 rounded-xl bg-indigo-500/10 flex items-center justify-center text-indigo-400 text-2xl mb-6\">\n                    <i class=\"bi bi-robot\"></i>\n                </div>\n                <h3 class=\"text-xl font-bold mb-4\">Automation Suites</h3>\n                <ul class=\"space-y-3.5 text-slate-300\">\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Playwright / Cypress</span>\n                        <span class=\"text-xs font-bold bg-indigo-500/10 text-indigo-300 px-2 py-0.5 rounded\">Expert</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Selenium WebDriver</span>\n                        <span class=\"text-xs font-bold bg-indigo-500/10 text-indigo-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Appium (Mobile)</span>\n                        <span class=\"text-xs font-bold bg-indigo-500/10 text-indigo-300 px-2 py-0.5 rounded\">Intermediate</span>\n                    </li>\n                </ul>\n            </div>\n\n            <!-- API & Performance -->\n            <div class=\"glass-card rounded-2xl p-6 glow-hover transition-all duration-300\">\n                <div class=\"w-12 h-12 rounded-xl bg-purple-500/10 flex items-center justify-center text-purple-400 text-2xl mb-6\">\n                    <i class=\"bi bi-speedometer2\"></i>\n                </div>\n                <h3 class=\"text-xl font-bold mb-4\">API & Performance</h3>\n                <ul class=\"space-y-3.5 text-slate-300\">\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-purple-400 mr-2\"></i> Postman & REST Assured</span>\n                        <span class=\"text-xs font-bold bg-purple-500/10 text-purple-300 px-2 py-0.5 rounded\">Expert</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-purple-400 mr-2\"></i> JMeter & k6 Load Tests</span>\n                        <span class=\"text-xs font-bold bg-purple-500/10 text-purple-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-purple-400 mr-2\"></i> SoapUI & GraphQL testing</span>\n                        <span class=\"text-xs font-bold bg-purple-500/10 text-purple-300 px-2 py-0.5 rounded\">Intermediate</span>\n                    </li>\n                </ul>\n            </div>\n\n            <!-- DevOps & CI/CD Pipelines -->\n            <div class=\"glass-card rounded-2xl p-6 glow-hover transition-all duration-300\">\n                <div class=\"w-12 h-12 rounded-xl bg-emerald-500/10 flex items-center justify-center text-emerald-400 text-2xl mb-6\">\n                    <i class=\"bi bi-git\"></i>\n                </div>\n                <h3 class=\"text-xl font-bold mb-4\">CI/CD & DevOps</h3>\n                <ul class=\"space-y-3.5 text-slate-300\">\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> GitHub Actions</span>\n                        <span class=\"text-xs font-bold bg-emerald-500/10 text-emerald-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> Jenkins & Docker</span>\n                        <span class=\"text-xs font-bold bg-emerald-500/10 text-emerald-300 px-2 py-0.5 rounded\">Advanced</span>\n                    </li>\n                    <li class=\"flex items-center justify-between\">\n                        <span class=\"text-slate-400\"><i class=\"bi bi-check-circle-fill text-emerald-400 mr-2\"></i> AWS Cloud Infrastructure</span>\n                        <span class=\"text-xs font-bold bg-emerald-500/10 text-emerald-300 px-2 py-0.5 rounded\">Intermediate</span>\n                    </li>\n                </ul>\n            </div>\n        </div>\n    </section>\n\n    <!-- My Experience Milestone Timeline -->\n    <section id=\"experience\" class=\"max-w-4xl mx-auto px-6 py-12\">\n        <div class=\"text-center mb-14\">\n            <h2 class=\"text-3xl font-bold mb-2\">My Professional Path</h2>\n            <p class=\"text-slate-400\">A chronicle of my contributions in engineering high-quality releases.</p>\n        </div>\n\n        <div class=\"relative border-l border-slate-800 ml-4 md:ml-6\">\n            <!-- Card 1 -->\n            <div class=\"mb-12 ml-6 relative\">\n                <span class=\"absolute -left-[31px] top-1.5 w-4 h-4 rounded-full bg-indigo-500 border-4 border-slate-950\"></span>\n                <div class=\"glass-card p-6 rounded-xl\">\n                    <div class=\"flex flex-col md:flex-row md:items-center justify-between mb-4\">\n                        <div>\n                            <h4 class=\"text-lg font-bold text-white\">Software Test Engineer</h4>\n                            <span class=\"text-indigo-400 text-sm\">EBot AI Solutions PVT LTD</span>\n                        </div>\n                        <span class=\"text-xs text-slate-400 mt-2 md:mt-0 font-semibold px-2.5 py-1 bg-slate-900 rounded-full border border-slate-800\">April 2024 - Present</span>\n                    </div>\n                    <p class=\"text-slate-400 text-sm leading-relaxed\">\n                        Built custom headless Playwright pipelines reducing test runtime by over 45%. Oversaw a robust manual-to-automation shift, increasing feature verification velocity.\n                    </p>\n                </div>\n            </div>\n            <!-- Card 2 -->\n            <div class=\"mb-12 ml-6 relative\">\n                <span class=\"absolute -left-[31px] top-1.5 w-4 h-4 rounded-full bg-purple-500 border-4 border-slate-950\"></span>\n                <div class=\"glass-card p-6 rounded-xl\">\n                    <div class=\"flex flex-col md:flex-row md:items-center justify-between mb-4\">\n                        <div>\n                            <h4 class=\"text-lg font-bold text-white\">QA Intern</h4>\n                            <span class=\"text-purple-400 text-sm\">Test Yantra</span>\n                        </div>\n                        <span class=\"text-xs text-slate-400 mt-2 md:mt-0 font-semibold px-2.5 py-1 bg-slate-900 rounded-full border border-slate-800\">June 2023 - March 2024</span>\n                    </div>\n                    <p class=\"text-slate-400 text-sm leading-relaxed\">\n                        Authored and executed over 1,500 integration and sanity checks. Integrated Jenkins CI automation ensuring zero critical escapes reaching customer releases.\n                    </p>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- Professional Stats (Real QA Metrics) -->\n    <section class=\"max-w-7xl mx-auto px-6 py-12\">\n        <div class=\"grid grid-cols-2 lg:grid-cols-4 gap-6\">\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-indigo-400 block mb-2\">4,500+</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Bugs Logged & Fixed</span>\n            </div>\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-purple-400 block mb-2\">99.8%</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Production Code Coverage</span>\n            </div>\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-emerald-400 block mb-2\">350+</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Automated Test Scripts</span>\n            </div>\n            <div class=\"glass-card p-6 rounded-2xl text-center\">\n                <span class=\"text-4xl font-extrabold text-pink-400 block mb-2\">0%</span>\n                <span class=\"text-xs font-semibold uppercase tracking-wider text-slate-500\">Critical Escapes Rate</span>\n            </div>\n        </div>\n    </section>\n\n    <!-- Contact Section -->\n    <section id=\"contact\" class=\"max-w-3xl mx-auto px-6 py-20\">\n        <div class=\"glass-card rounded-3xl p-8 md:p-12 relative border border-slate-800\">\n            <div class=\"absolute -bottom-10 right-10 w-48 h-48 bg-purple-500/10 rounded-full blur-2xl pointer-events-none\"></div>\n            \n            <h2 class=\"text-3xl font-bold text-center mb-2\">Connect & Start Collaborating</h2>\n            <p class=\"text-slate-400 text-center mb-8\">Have a project or a platform that needs precise validation? Reach out today!</p>\n            \n            <form id=\"contact-form\" class=\"space-y-6\">\n                <div class=\"grid grid-cols-1 md:grid-cols-2 gap-6\">\n                    <div>\n                        <label class=\"block text-xs font-semibold text-slate-400 uppercase tracking-wider mb-2\">Full Name</label>\n                        <input id=\"contact-name\" required type=\"text\" placeholder=\"Prince Raj\" class=\"w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3.5 text-sm text-slate-200 focus:outline-none focus:border-indigo-500 transition-colors\">\n                    </div>\n                    <div>\n                        <label class=\"block text-xs font-semibold text-slate-400 uppercase tracking-wider mb-2\">Email Address</label>\n                        <input id=\"contact-email\" required type=\"email\" placeholder=\"prince@example.com\" class=\"w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3.5 text-sm text-slate-200 focus:outline-none focus:border-indigo-500 transition-colors\">\n                    </div>\n                </div>\n                <div>\n                    <label class=\"block text-xs font-semibold text-slate-400 uppercase tracking-wider mb-2\">Your Message</label>\n                    <textarea id=\"contact-message\" required rows=\"4\" placeholder=\"Let's build reliable software systems together...\" class=\"w-full bg-slate-900 border border-slate-800 rounded-xl px-4 py-3.5 text-sm text-slate-200 focus:outline-none focus:border-indigo-500 transition-colors\"></textarea>\n                </div>\n                <button type=\"submit\" class=\"w-full py-4 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl font-bold shadow-lg shadow-indigo-600/10 transition-colors\">\n                    Send Message\n                </button>\n            </form>\n        </div>\n    </section>\n\n    <footer class=\"text-center py-10 border-t border-slate-900 text-xs text-slate-500\">\n        <div class=\"flex justify-center gap-6 mb-4 text-lg\">\n            <a href=\"https://in.linkedin.com/in/rajamrit23\" target=\"_blank\" class=\"text-slate-500 hover:text-indigo-400 transition-colors\"><i class=\"bi bi-linkedin\"></i></a>\n            <a href=\"https://github.com/rajamrit23\" target=\"_blank\" class=\"text-slate-500 hover:text-indigo-400 transition-colors\"><i class=\"bi bi-github\"></i></a>\n            <a href=\"https://www.instagram.com/amrit_raj23/\" target=\"_blank\" class=\"text-slate-500 hover:text-indigo-400 transition-colors\"><i class=\"bi bi-instagram\"></i></a>\n            <a href=\"https://www.facebook.com/rajamrit23/\" target=\"_blank\" class=\"text-slate-500 hover:text-indigo-400 transition-colors\"><i class=\"bi bi-facebook\"></i></a>\n            <a href=\"mailto:amritraj.qa@gmail.com\" class=\"text-slate-500 hover:text-indigo-400 transition-colors\"><i class=\"bi bi-envelope-at-fill\"></i></a>\n        </div>\n        <p>© 2026 Amrit's Portfolio Portal.</p>\n    </footer>\n<!-- Enterprise Bot - Chat Resources START -->\n<script type=\"text/javascript\">\n    var currentBotId = \"68f0f460c682d3e04573ec2f\";\n</script>\n<script src=\"https://sit-aida-live-chat.enterprisebot.co/dist/default/ebInitChatWindow.bundle.js\"></script>\n<!-- Enterprise Bot - Chat Resources END -->\n    <script>\n        // Async Form Handler\n        document.getElementById('contact-form').addEventListener('submit', async function(e) {\n            e.preventDefault();\n            const btn = e.target.querySelector('button[type=\"submit\"]');\n            const originalContent = btn.innerHTML;\n            \n            // Set Loading state\n            btn.disabled = true;\n            btn.innerHTML = `<i class=\"bi bi-arrow-repeat animate-spin mr-2\"></i> Routing Message...`;\n            \n            const payload = {\n                name: document.getElementById('contact-name').value,\n                email: document.getElementById('contact-email').value,\n                message: document.getElementById('contact-message').value\n            };\n\n            try {\n                const response = await fetch('/portfolio-contact', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json'\n                    },\n                    body: JSON.stringify(payload)\n                });\n\n                if (response.ok) {\n                    btn.innerHTML = `<i class=\"bi bi-check-circle-fill mr-2\"></i> Submitted, Thank you !`;\n                    btn.className = \"w-full py-4 bg-emerald-600 text-white rounded-xl font-bold shadow-lg transition-colors\";\n                    e.target.reset();\n                } else {\n                    throw new Error('Endpoint failure');\n                }\n            } catch (err) {\n                btn.innerHTML = `<i class=\"bi bi-exclamation-triangle-fill mr-2\"></i> Route Blocked (Error)`;\n                btn.className = \"w-full py-4 bg-rose-600 text-white rounded-xl font-bold shadow-lg transition-colors\";\n            }\n\n            // Reset to default button state after 4 seconds\n            setTimeout(() => {\n                btn.disabled = false;\n                btn.innerHTML = originalContent;\n                btn.className = \"w-full py-4 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl font-bold shadow-lg shadow-indigo-600/10 transition-colors\";\n            }, 4000);\n        });\n\n        function startTerminalTest() {\n            const btn = document.getElementById('btn-run-tests');\n            const stdout = document.getElementById('terminal-stdout');\n            const statusBadge = document.getElementById('terminal-status-badge');\n            \n            if (btn.disabled) return;\n            \n            btn.disabled = true;\n            btn.innerHTML = `<i class=\"bi bi-arrow-repeat animate-spin\"></i> Auditor Running...`;\n            statusBadge.className = \"px-2 py-0.5 rounded text-[10px] font-bold uppercase tracking-wider bg-amber-500/10 text-amber-400\";\n            statusBadge.innerText = \"running\";\n            \n            stdout.innerHTML = \"\"; \n            \n            const logs = [\n                { text: \"[INFO - 12:55:01] Initiating Playwright modern headless auditor...\", color: \"text-slate-400\" },\n                { text: \"[INFO - 12:55:02] Target web host resolved: http://localhost:1880/portfolio\", color: \"text-indigo-400\" },\n                { text: \"[TEST - STEP 1] Checking page loading status & HTML document tree integrity...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] HTTP Status Code returned 200 (Success).\", color: \"text-emerald-400\" },\n                { text: \"[TEST - STEP 2] Running Tailwind CSS responsive container checks...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] Flexbox layers matching system breakpoints (sm / md / lg).\", color: \"text-emerald-400\" },\n                { text: \"[TEST - STEP 3] Auditing interactive DOM event hooks & JavaScript loops...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] Node-RED listener responses verified safely.\", color: \"text-emerald-400\" },\n                { text: \"[TEST - STEP 4] Running visual regression alignment validation...\", color: \"text-slate-200\" },\n                { text: \"✔ [PASS] 0 mismatched pixels detected in hero components.\", color: \"text-emerald-400\" },\n                { text: \"============================================================\", color: \"text-slate-500\" },\n                { text: \"TEST EXECUTION RESULT SUMMARY:\", color: \"text-slate-100 font-bold\" },\n                { text: \"✔ 4 Passed  |  ✖ 0 Failed  |  🕒 Duration: 2.1s\", color: \"text-emerald-500 font-bold\" },\n                { text: \"[PROCESS EXIT] Playwright process exited cleanly with status 0.\", color: \"text-indigo-400\" }\n            ];\n            \n            let delay = 0;\n            logs.forEach((log) => {\n                setTimeout(() => {\n                    const line = document.createElement('div');\n                    line.className = log.color;\n                    line.innerText = log.text;\n                    stdout.appendChild(line);\n                    stdout.scrollTop = stdout.scrollHeight;\n                }, delay);\n                delay += 350; \n            });\n            \n            setTimeout(() => {\n                btn.disabled = false;\n                btn.innerHTML = `<i class=\"bi bi-play-fill\"></i> Run Playwright Tests`;\n                statusBadge.className = \"px-2 py-0.5 rounded text-[10px] font-bold uppercase tracking-wider bg-emerald-500/10 text-emerald-400\";\n                statusBadge.innerText = \"passed\";\n            }, delay);\n        }\n    </script>\n</body>\n</html>",
        "output": "str",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "511c3c0f15384c79"
            ]
        ]
    },
    {
        "id": "511c3c0f15384c79",
        "type": "http response",
        "z": "1a68323324c14f1d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f44966b717060f1",
        "type": "http in",
        "z": "1a68323324c14f1d",
        "name": "Contact Submit Receiver",
        "url": "/portfolio-contact",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "f63dd2577d51db86",
                "d4f32d0b376978a2"
            ]
        ]
    },
    {
        "id": "f63dd2577d51db86",
        "type": "http response",
        "z": "1a68323324c14f1d",
        "name": "Quick Response (Success)",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "b68fd74e0b0484c6",
        "type": "debug",
        "z": "1a68323324c14f1d",
        "name": "Incoming Messages Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "732f6a95e92f30de",
        "type": "comment",
        "z": "1a68323324c14f1d",
        "name": "Submit Route",
        "info": "Submit Route",
        "x": 190,
        "y": 640,
        "wires": []
    },
    {
        "id": "c996e5db0213be81",
        "type": "GSheet",
        "z": "1a68323324c14f1d",
        "creds": "23397c29904c383f",
        "method": "append",
        "action": "",
        "sheet": "17a1w3CnAaZZ5zH_GYzBf3fnB-4lPadaAkmqGnjjRrYE",
        "cells": "Sheet2!B2",
        "flatten": false,
        "name": "Update data in Sheet",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "b68fd74e0b0484c6"
            ]
        ]
    },
    {
        "id": "d4f32d0b376978a2",
        "type": "function",
        "z": "1a68323324c14f1d",
        "name": "Build Alert Messages",
        "func": "const name = msg.payload.name || 'Anonymous';\nconst email = msg.payload.email || 'No email';\nconst message = msg.payload.message || 'No message content';\n\nmsg.payload = [\n    name,\n    email,\n    message,\n    new Date().toLocaleString()\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 720,
        "wires": [
            [
                "c996e5db0213be81"
            ]
        ]
    },
    {
        "id": "d3d2d0692b96de1c",
        "type": "http in",
        "z": "d5b1b679fd6782b5",
        "name": "",
        "url": "/portfolio2",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "98c02b689ac2c614"
            ]
        ]
    },
    {
        "id": "98c02b689ac2c614",
        "type": "template",
        "z": "d5b1b679fd6782b5",
        "name": "Sleek Portfolio UI",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Amrit Raj — QA Engineer</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link\n        href=\"https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=DM+Mono:wght@400;500&family=DM+Sans:wght@300;400;500&display=swap\"\n        rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css\">\n    <style>\n        *,\n        *::before,\n        *::after {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n        }\n\n        :root {\n            --bg: #04070f;\n            --surface: #080e1c;\n            --border: rgba(255, 255, 255, 0.07);\n            --accent: #4f8cff;\n            --accent2: #a78bfa;\n            --accent3: #34d399;\n            --text: #e2e8f0;\n            --muted: #64748b;\n            --card: rgba(10, 16, 32, 0.7);\n        }\n\n        html {\n            scroll-behavior: smooth;\n        }\n\n        body {\n            font-family: 'DM Sans', sans-serif;\n            background: var(--bg);\n            color: var(--text);\n            min-height: 100vh;\n            overflow-x: hidden;\n        }\n\n        /* Noise texture overlay */\n        body::before {\n            content: '';\n            position: fixed;\n            inset: 0;\n            background-image: url(\"data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.04'/%3E%3C/svg%3E\");\n            pointer-events: none;\n            z-index: 999;\n            opacity: 0.4;\n        }\n\n        /* ── NAV ── */\n        nav {\n            position: fixed;\n            top: 0;\n            left: 0;\n            right: 0;\n            z-index: 100;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            padding: 0 clamp(1.5rem, 5vw, 4rem);\n            height: 64px;\n            background: rgba(4, 7, 15, 0.85);\n            backdrop-filter: blur(16px);\n            border-bottom: 1px solid var(--border);\n        }\n\n        .nav-logo {\n            font-family: 'Syne', sans-serif;\n            font-weight: 800;\n            font-size: 1.1rem;\n            letter-spacing: 0.05em;\n            color: var(--text);\n            text-decoration: none;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n\n        .nav-logo span {\n            width: 28px;\n            height: 28px;\n            background: var(--accent);\n            border-radius: 6px;\n            display: grid;\n            place-items: center;\n            font-size: 0.75rem;\n            color: #fff;\n        }\n\n        .nav-links {\n            display: flex;\n            align-items: center;\n            gap: 2rem;\n            list-style: none;\n        }\n\n        .nav-links a {\n            color: var(--muted);\n            text-decoration: none;\n            font-size: 0.875rem;\n            font-weight: 500;\n            transition: color 0.2s;\n            letter-spacing: 0.02em;\n        }\n\n        .nav-links a:hover {\n            color: var(--text);\n        }\n\n        .nav-cta {\n            padding: 0.5rem 1.2rem;\n            background: var(--accent);\n            color: #fff !important;\n            border-radius: 8px;\n            font-size: 0.8rem !important;\n            font-weight: 600 !important;\n            transition: opacity 0.2s !important;\n        }\n\n        .nav-cta:hover {\n            opacity: 0.85;\n            color: #fff !important;\n        }\n\n        /* ── HERO ── */\n        #hero {\n            min-height: 100vh;\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            padding: clamp(6rem, 12vh, 10rem) clamp(1.5rem, 8vw, 8rem) 4rem;\n            position: relative;\n        }\n\n        .hero-badge {\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            font-family: 'DM Mono', monospace;\n            font-size: 0.75rem;\n            color: var(--accent3);\n            border: 1px solid rgba(52, 211, 153, 0.25);\n            padding: 0.4rem 1rem;\n            border-radius: 999px;\n            margin-bottom: 2rem;\n            width: fit-content;\n        }\n\n        .hero-badge::before {\n            content: '';\n            width: 6px;\n            height: 6px;\n            background: var(--accent3);\n            border-radius: 50%;\n            animation: pulse 2s infinite;\n        }\n\n        @keyframes pulse {\n\n            0%,\n            100% {\n                opacity: 1;\n            }\n\n            50% {\n                opacity: 0.3;\n            }\n        }\n\n        .hero-sub {\n            font-family: 'DM Mono', monospace;\n            font-size: clamp(0.85rem, 2vw, 1rem);\n            color: var(--muted);\n            letter-spacing: 0.08em;\n            text-transform: uppercase;\n            margin-bottom: 1.2rem;\n        }\n\n        .hero-title {\n            font-family: 'Syne', sans-serif;\n            font-size: clamp(3.5rem, 8vw, 7rem);\n            font-weight: 800;\n            line-height: 0.95;\n            letter-spacing: -0.03em;\n            margin-bottom: 1.5rem;\n            color: #fff;\n        }\n\n        .hero-title .accent {\n            color: var(--accent);\n        }\n\n        .typing-wrapper {\n            display: inline-flex;\n            align-items: center;\n            gap: 0.5rem;\n            font-family: 'DM Mono', monospace;\n            font-size: clamp(1rem, 2.5vw, 1.4rem);\n            color: var(--accent2);\n            margin-bottom: 2rem;\n        }\n\n        #typed-text {\n            min-width: 1px;\n        }\n\n        .cursor {\n            display: inline-block;\n            width: 2px;\n            height: 1.2em;\n            background: var(--accent2);\n            animation: blink 1s infinite;\n        }\n\n        @keyframes blink {\n\n            0%,\n            100% {\n                opacity: 1;\n            }\n\n            50% {\n                opacity: 0;\n            }\n        }\n\n        .hero-desc {\n            font-size: clamp(1rem, 2vw, 1.15rem);\n            color: var(--muted);\n            max-width: 520px;\n            line-height: 1.7;\n            margin-bottom: 3rem;\n        }\n\n        .hero-actions {\n            display: flex;\n            align-items: center;\n            flex-wrap: wrap;\n            gap: 1rem;\n            margin-bottom: 3.5rem;\n        }\n\n        .btn-primary {\n            padding: 0.85rem 2rem;\n            background: var(--accent);\n            color: #fff;\n            border-radius: 10px;\n            text-decoration: none;\n            font-weight: 600;\n            font-size: 0.9rem;\n            transition: transform 0.2s, box-shadow 0.2s;\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            box-shadow: 0 4px 24px rgba(79, 140, 255, 0.25);\n        }\n\n        .btn-primary:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 8px 32px rgba(79, 140, 255, 0.35);\n        }\n\n        .btn-ghost {\n            padding: 0.85rem 2rem;\n            border: 1px solid var(--border);\n            color: var(--text);\n            border-radius: 10px;\n            text-decoration: none;\n            font-weight: 500;\n            font-size: 0.9rem;\n            transition: border-color 0.2s, background 0.2s;\n            background: rgba(255, 255, 255, 0.03);\n        }\n\n        .btn-ghost:hover {\n            border-color: rgba(79, 140, 255, 0.4);\n            background: rgba(79, 140, 255, 0.06);\n        }\n\n        .hero-socials {\n            display: flex;\n            gap: 1.4rem;\n            align-items: center;\n        }\n\n        .hero-socials a {\n            color: var(--muted);\n            font-size: 1.3rem;\n            text-decoration: none;\n            transition: color 0.2s, transform 0.2s;\n        }\n\n        .hero-socials a:hover {\n            color: var(--accent);\n            transform: translateY(-2px);\n        }\n\n        /* Decorative large text */\n        .hero-bg-text {\n            position: absolute;\n            right: -2rem;\n            top: 50%;\n            transform: translateY(-50%);\n            font-family: 'Syne', sans-serif;\n            font-size: clamp(6rem, 18vw, 18rem);\n            font-weight: 800;\n            color: rgba(79, 140, 255, 0.04);\n            letter-spacing: -0.05em;\n            pointer-events: none;\n            user-select: none;\n            line-height: 1;\n        }\n\n        /* ── SECTIONS ── */\n        section {\n            padding: clamp(4rem, 8vh, 7rem) clamp(1.5rem, 8vw, 8rem);\n        }\n\n        .section-label {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.7rem;\n            letter-spacing: 0.15em;\n            text-transform: uppercase;\n            color: var(--accent);\n            margin-bottom: 1rem;\n        }\n\n        .section-title {\n            font-family: 'Syne', sans-serif;\n            font-size: clamp(2rem, 5vw, 3.5rem);\n            font-weight: 800;\n            letter-spacing: -0.03em;\n            line-height: 1.05;\n            margin-bottom: 1rem;\n            color: #fff;\n        }\n\n        .section-title em {\n            font-style: normal;\n            color: var(--accent);\n        }\n\n        /* ── ABOUT ── */\n        #about .about-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 4rem;\n            align-items: center;\n            margin-top: 3.5rem;\n        }\n\n        .about-text p {\n            color: var(--muted);\n            font-size: 1.05rem;\n            line-height: 1.8;\n            margin-bottom: 1.2rem;\n        }\n\n        .about-text p strong {\n            color: var(--text);\n            font-weight: 600;\n        }\n\n        .stats-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 1px;\n            background: var(--border);\n            border: 1px solid var(--border);\n            border-radius: 16px;\n            overflow: hidden;\n        }\n\n        .stat-item {\n            background: var(--card);\n            padding: 2rem 1.5rem;\n            text-align: center;\n        }\n\n        .stat-num {\n            font-family: 'Syne', sans-serif;\n            font-size: 2.5rem;\n            font-weight: 800;\n            letter-spacing: -0.04em;\n            display: block;\n            margin-bottom: 0.3rem;\n        }\n\n        .stat-label {\n            font-size: 0.75rem;\n            color: var(--muted);\n            text-transform: uppercase;\n            letter-spacing: 0.1em;\n            font-family: 'DM Mono', monospace;\n        }\n\n        /* ── EXPERIENCE ── */\n        #experience {\n            background: var(--surface);\n        }\n\n        .exp-list {\n            margin-top: 3.5rem;\n            display: flex;\n            flex-direction: column;\n            gap: 0;\n        }\n\n        .exp-item {\n            border-top: 1px solid var(--border);\n            padding: 2.5rem 0;\n            display: grid;\n            grid-template-columns: 180px 1fr auto;\n            gap: 2rem;\n            align-items: start;\n            cursor: default;\n            transition: background 0.2s;\n        }\n\n        .exp-item:last-child {\n            border-bottom: 1px solid var(--border);\n        }\n\n        .exp-item:hover {\n            background: rgba(79, 140, 255, 0.03);\n            margin: 0 -2rem;\n            padding-left: 2rem;\n            padding-right: 2rem;\n        }\n\n        .exp-date {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.75rem;\n            color: var(--muted);\n            padding-top: 0.3rem;\n        }\n\n        .exp-company {\n            font-family: 'Syne', sans-serif;\n            font-weight: 700;\n            font-size: 1.25rem;\n            margin-bottom: 0.3rem;\n            color: #fff;\n        }\n\n        .exp-role {\n            font-size: 0.875rem;\n            color: var(--accent);\n            font-weight: 500;\n            margin-bottom: 0.8rem;\n        }\n\n        .exp-desc {\n            color: var(--muted);\n            font-size: 0.9rem;\n            line-height: 1.7;\n        }\n\n        .exp-arrow {\n            font-size: 1.5rem;\n            color: var(--border);\n            transition: color 0.2s, transform 0.2s;\n            padding-top: 0.2rem;\n        }\n\n        .exp-item:hover .exp-arrow {\n            color: var(--accent);\n            transform: translate(4px, -4px);\n        }\n\n        /* ── PROJECTS ── */\n        .projects-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));\n            gap: 1.5px;\n            background: var(--border);\n            border: 1px solid var(--border);\n            border-radius: 20px;\n            overflow: hidden;\n            margin-top: 3.5rem;\n        }\n\n        .project-card {\n            background: var(--card);\n            padding: 2rem;\n            transition: background 0.25s;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .project-card::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            height: 2px;\n            background: linear-gradient(90deg, var(--accent), var(--accent2));\n            transform: scaleX(0);\n            transition: transform 0.3s;\n        }\n\n        .project-card:hover::before {\n            transform: scaleX(1);\n        }\n\n        .project-card:hover {\n            background: rgba(15, 22, 45, 0.9);\n        }\n\n        .project-num {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.7rem;\n            color: var(--muted);\n            margin-bottom: 1rem;\n            letter-spacing: 0.1em;\n        }\n\n        .project-name {\n            font-family: 'Syne', sans-serif;\n            font-size: 1.1rem;\n            font-weight: 700;\n            color: #fff;\n            margin-bottom: 0.75rem;\n        }\n\n        .project-desc {\n            font-size: 0.875rem;\n            color: var(--muted);\n            line-height: 1.65;\n            margin-bottom: 1.2rem;\n        }\n\n        .project-tags {\n            display: flex;\n            flex-wrap: wrap;\n            gap: 0.5rem;\n            margin-bottom: 1.2rem;\n        }\n\n        .tag {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.7rem;\n            padding: 0.25rem 0.65rem;\n            background: rgba(79, 140, 255, 0.08);\n            color: var(--accent);\n            border: 1px solid rgba(79, 140, 255, 0.15);\n            border-radius: 999px;\n        }\n\n        .project-metrics {\n            display: flex;\n            gap: 1rem;\n            flex-wrap: wrap;\n        }\n\n        .metric {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.7rem;\n            color: var(--accent3);\n        }\n\n        .metric span {\n            color: var(--muted);\n        }\n\n        /* ── SKILLS ── */\n        #skills {\n            background: var(--surface);\n        }\n\n        .skills-container {\n            margin-top: 3.5rem;\n            display: flex;\n            flex-direction: column;\n            gap: 2.5rem;\n        }\n\n        .skill-group-label {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.7rem;\n            letter-spacing: 0.12em;\n            text-transform: uppercase;\n            color: var(--muted);\n            margin-bottom: 1rem;\n            border-left: 2px solid var(--accent);\n            padding-left: 0.8rem;\n        }\n\n        .skill-chips {\n            display: flex;\n            flex-wrap: wrap;\n            gap: 0.6rem;\n        }\n\n        .skill-chip {\n            display: inline-flex;\n            align-items: center;\n            gap: 0.5rem;\n            padding: 0.55rem 1.1rem;\n            background: rgba(255, 255, 255, 0.04);\n            border: 1px solid var(--border);\n            border-radius: 8px;\n            font-size: 0.875rem;\n            color: var(--text);\n            font-weight: 500;\n            transition: border-color 0.2s, background 0.2s, transform 0.2s;\n        }\n\n        .skill-chip:hover {\n            border-color: rgba(79, 140, 255, 0.4);\n            background: rgba(79, 140, 255, 0.08);\n            transform: translateY(-1px);\n        }\n\n        .skill-chip .dot {\n            width: 6px;\n            height: 6px;\n            border-radius: 50%;\n            flex-shrink: 0;\n        }\n\n        .dot-blue {\n            background: var(--accent);\n        }\n\n        .dot-purple {\n            background: var(--accent2);\n        }\n\n        .dot-green {\n            background: var(--accent3);\n        }\n\n        /* ── TERMINAL ── */\n        #sandbox {\n            position: relative;\n        }\n\n        .terminal-wrap {\n            margin-top: 3.5rem;\n            border: 1px solid var(--border);\n            border-radius: 16px;\n            overflow: hidden;\n            background: #020408;\n        }\n\n        .terminal-bar {\n            background: rgba(255, 255, 255, 0.04);\n            padding: 0.85rem 1.2rem;\n            display: flex;\n            align-items: center;\n            gap: 0.6rem;\n            border-bottom: 1px solid var(--border);\n        }\n\n        .dot-r {\n            background: #ff5f57;\n            width: 12px;\n            height: 12px;\n            border-radius: 50%;\n        }\n\n        .dot-y {\n            background: #febc2e;\n            width: 12px;\n            height: 12px;\n            border-radius: 50%;\n        }\n\n        .dot-g {\n            background: #28c840;\n            width: 12px;\n            height: 12px;\n            border-radius: 50%;\n        }\n\n        .terminal-file {\n            margin-left: 1rem;\n            font-family: 'DM Mono', monospace;\n            font-size: 0.75rem;\n            color: var(--muted);\n        }\n\n        .terminal-output {\n            padding: 1.5rem;\n            font-family: 'DM Mono', monospace;\n            font-size: 0.82rem;\n            line-height: 1.8;\n            min-height: 280px;\n            max-height: 400px;\n            overflow-y: auto;\n        }\n\n        .terminal-output::-webkit-scrollbar {\n            width: 4px;\n        }\n\n        .terminal-output::-webkit-scrollbar-thumb {\n            background: #1e293b;\n            border-radius: 2px;\n        }\n\n        .t-muted {\n            color: #334155;\n        }\n\n        .t-blue {\n            color: var(--accent);\n        }\n\n        .t-green {\n            color: var(--accent3);\n        }\n\n        .t-purple {\n            color: var(--accent2);\n        }\n\n        .t-white {\n            color: #f1f5f9;\n        }\n\n        .t-red {\n            color: #f87171;\n        }\n\n        .terminal-footer {\n            padding: 1rem 1.5rem;\n            border-top: 1px solid var(--border);\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            gap: 1rem;\n            flex-wrap: wrap;\n            background: rgba(255, 255, 255, 0.02);\n        }\n\n        .t-status {\n            font-family: 'DM Mono', monospace;\n            font-size: 0.7rem;\n            padding: 0.3rem 0.75rem;\n            border-radius: 999px;\n            letter-spacing: 0.1em;\n            text-transform: uppercase;\n            font-weight: 700;\n        }\n\n        .status-idle {\n            background: rgba(100, 116, 139, 0.12);\n            color: var(--muted);\n        }\n\n        .status-running {\n            background: rgba(254, 188, 46, 0.12);\n            color: #febc2e;\n        }\n\n        .status-passed {\n            background: rgba(52, 211, 153, 0.12);\n            color: var(--accent3);\n        }\n\n        .run-btn {\n            display: inline-flex;\n            align-items: center;\n            gap: 0.5rem;\n            padding: 0.65rem 1.4rem;\n            background: var(--accent3);\n            color: #000;\n            font-weight: 700;\n            font-size: 0.85rem;\n            border-radius: 8px;\n            border: none;\n            cursor: pointer;\n            transition: opacity 0.2s, transform 0.2s;\n            font-family: 'DM Sans', sans-serif;\n        }\n\n        .run-btn:hover:not(:disabled) {\n            opacity: 0.85;\n            transform: translateY(-1px);\n        }\n\n        .run-btn:disabled {\n            opacity: 0.5;\n            cursor: not-allowed;\n        }\n\n        /* ── CONTACT ── */\n        #contact .contact-inner {\n            margin-top: 3.5rem;\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 4rem;\n            align-items: start;\n        }\n\n        .contact-cta-text {\n            font-family: 'Syne', sans-serif;\n            font-size: clamp(1.6rem, 4vw, 2.5rem);\n            font-weight: 800;\n            line-height: 1.15;\n            letter-spacing: -0.02em;\n            margin-bottom: 1.5rem;\n            color: #fff;\n        }\n\n        .contact-links {\n            display: flex;\n            flex-direction: column;\n            gap: 1rem;\n        }\n\n        .contact-link-item {\n            display: inline-flex;\n            align-items: center;\n            gap: 1rem;\n            padding: 1rem 1.2rem;\n            border: 1px solid var(--border);\n            border-radius: 12px;\n            text-decoration: none;\n            color: var(--text);\n            font-size: 0.9rem;\n            font-weight: 500;\n            background: rgba(255, 255, 255, 0.02);\n            transition: border-color 0.2s, background 0.2s, transform 0.2s;\n        }\n\n        .contact-link-item:hover {\n            border-color: rgba(79, 140, 255, 0.35);\n            background: rgba(79, 140, 255, 0.06);\n            transform: translateX(4px);\n        }\n\n        .contact-link-item i {\n            font-size: 1.2rem;\n            color: var(--accent);\n            width: 24px;\n        }\n\n        .contact-form-side input,\n        .contact-form-side textarea {\n            width: 100%;\n            background: rgba(255, 255, 255, 0.03);\n            border: 1px solid var(--border);\n            border-radius: 10px;\n            padding: 0.875rem 1rem;\n            color: var(--text);\n            font-family: 'DM Sans', sans-serif;\n            font-size: 0.9rem;\n            outline: none;\n            transition: border-color 0.2s;\n            display: block;\n            margin-bottom: 1rem;\n        }\n\n        .contact-form-side input:focus,\n        .contact-form-side textarea:focus {\n            border-color: var(--accent);\n        }\n\n        .contact-form-side textarea {\n            min-height: 130px;\n            resize: vertical;\n        }\n\n        .form-label {\n            display: block;\n            font-size: 0.75rem;\n            color: var(--muted);\n            font-family: 'DM Mono', monospace;\n            letter-spacing: 0.08em;\n            text-transform: uppercase;\n            margin-bottom: 0.4rem;\n        }\n\n        .form-submit {\n            width: 100%;\n            padding: 0.9rem;\n            background: var(--accent);\n            color: #fff;\n            font-weight: 700;\n            font-size: 0.9rem;\n            font-family: 'DM Sans', sans-serif;\n            border: none;\n            border-radius: 10px;\n            cursor: pointer;\n            transition: opacity 0.2s;\n        }\n\n        .form-submit:hover:not(:disabled) {\n            opacity: 0.85;\n        }\n\n        .form-submit:disabled {\n            opacity: 0.6;\n        }\n\n        /* ── FOOTER ── */\n        footer {\n            padding: 2.5rem clamp(1.5rem, 8vw, 8rem);\n            border-top: 1px solid var(--border);\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            flex-wrap: wrap;\n            gap: 1rem;\n        }\n\n        footer p {\n            font-size: 0.8rem;\n            color: var(--muted);\n        }\n\n        footer .foot-socials {\n            display: flex;\n            gap: 1.2rem;\n        }\n\n        footer .foot-socials a {\n            color: var(--muted);\n            font-size: 1.1rem;\n            text-decoration: none;\n            transition: color 0.2s;\n        }\n\n        footer .foot-socials a:hover {\n            color: var(--accent);\n        }\n\n        /* ── ANIMATIONS ── */\n        .reveal {\n            opacity: 0;\n            transform: translateY(28px);\n            transition: opacity 0.6s ease, transform 0.6s ease;\n        }\n\n        .reveal.in {\n            opacity: 1;\n            transform: translateY(0);\n        }\n\n        /* ── RESPONSIVE ── */\n        @media (max-width: 860px) {\n\n            #about .about-grid,\n            #contact .contact-inner {\n                grid-template-columns: 1fr;\n                gap: 2.5rem;\n            }\n\n            .exp-item {\n                grid-template-columns: 1fr;\n                gap: 0.5rem;\n            }\n\n            .exp-arrow {\n                display: none;\n            }\n\n            .hero-bg-text {\n                display: none;\n            }\n\n            .nav-links {\n                display: none;\n            }\n        }\n\n        @media (max-width: 520px) {\n            .projects-grid {\n                grid-template-columns: 1fr;\n            }\n        }\n    </style>\n</head>\n\n<body>\n\n    <!-- NAV -->\n    <nav>\n        <a href=\"#hero\" class=\"nav-logo\">\n            <span>AR</span> Amrit Raj\n        </a>\n        <ul class=\"nav-links\">\n            <li><a href=\"#about\">About</a></li>\n            <li><a href=\"#experience\">Experience</a></li>\n            <li><a href=\"#projects\">Projects</a></li>\n            <li><a href=\"#skills\">Skills</a></li>\n            <li><a href=\"#sandbox\">Sandbox</a></li>\n            <li><a href=\"#contact\" class=\"nav-cta\">Contact</a></li>\n        </ul>\n    </nav>\n\n    <!-- HERO -->\n    <section id=\"hero\">\n        <div class=\"hero-bg-text\">QA</div>\n\n        <div class=\"hero-badge\">Available for Freelance & QA Roles</div>\n        <p class=\"hero-sub\">QA Automation Engineer · Bengaluru, India</p>\n        <h1 class=\"hero-title\">Amrit<br><span class=\"accent\">Raj</span></h1>\n\n        <div class=\"typing-wrapper\">\n            <span id=\"typed-text\"></span><span class=\"cursor\"></span>\n        </div>\n\n        <p class=\"hero-desc\">\n            I break code to build bulletproof software. Specialising in end-to-end automation pipelines, performance\n            testing, and CI/CD quality gates that catch bugs before your users do.\n        </p>\n\n        <div class=\"hero-actions\">\n            <a href=\"#projects\" class=\"btn-primary\"><i class=\"bi bi-cpu-fill\"></i> See My Work</a>\n            <a href=\"#contact\" class=\"btn-ghost\">Say Hello →</a>\n        </div>\n\n        <div class=\"hero-socials\">\n            <a href=\"https://in.linkedin.com/in/rajamrit23\" target=\"_blank\"\n                title=\"LinkedIn\"><i class=\"bi bi-linkedin\"></i></a>\n            <a href=\"https://github.com/rajamrit23\" target=\"_blank\" title=\"GitHub\"><i class=\"bi bi-github\"></i></a>\n            <a href=\"https://www.instagram.com/amrit_raj23/\" target=\"_blank\"\n                title=\"Instagram\"><i class=\"bi bi-instagram\"></i></a>\n            <a href=\"https://www.facebook.com/rajamrit23/\" target=\"_blank\"\n                title=\"Facebook\"><i class=\"bi bi-facebook\"></i></a>\n            <a href=\"mailto:amritraj.qa@gmail.com\" title=\"Email\"><i class=\"bi bi-envelope-at-fill\"></i></a>\n        </div>\n    </section>\n\n    <!-- ABOUT -->\n    <section id=\"about\">\n        <p class=\"section-label reveal\">Who I Am</p>\n        <h2 class=\"section-title reveal\">Builder. <em>Breaker.</em> Reliability Nerd.</h2>\n\n        <div class=\"about-grid\">\n            <div class=\"about-text reveal\">\n                <p>I'm <strong>Amrit</strong> — a QA Automation Engineer who got obsessed with making software fail\n                    gracefully <em>before</em> it reaches production. Currently at <strong>EBot AI Solutions</strong>,\n                    where I ship headless Playwright pipelines that reduced test runtime by 45%.</p>\n                <p>What actually excites me? <strong>Designing test architectures that think.</strong> From performance\n                    benchmarks under load to visual regression diffs — I build systems that catch the subtle bugs that\n                    manual testers miss at 2 AM on release night.</p>\n                <p>I'm the kind of engineer who automates their own automation. My weekends involve\n                    <strong>writing Cypress scripts, benchmarking k6 scenarios</strong>, and figuring out if an idea\n                    holds up at 10,000 concurrent users.</p>\n            </div>\n\n            <div class=\"stats-grid reveal\">\n                <div class=\"stat-item\">\n                    <span class=\"stat-num\" style=\"color: var(--accent)\">4,500+</span>\n                    <span class=\"stat-label\">Bugs Logged</span>\n                </div>\n                <div class=\"stat-item\">\n                    <span class=\"stat-num\" style=\"color: var(--accent2)\">99.8%</span>\n                    <span class=\"stat-label\">Code Coverage</span>\n                </div>\n                <div class=\"stat-item\">\n                    <span class=\"stat-num\" style=\"color: var(--accent3)\">350+</span>\n                    <span class=\"stat-label\">Test Scripts</span>\n                </div>\n                <div class=\"stat-item\">\n                    <span class=\"stat-num\" style=\"color: #f87171\">0%</span>\n                    <span class=\"stat-label\">Critical Escapes</span>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- EXPERIENCE -->\n    <section id=\"experience\">\n        <p class=\"section-label reveal\">Work</p>\n        <h2 class=\"section-title reveal\">Where I've <em>Been Building</em></h2>\n\n        <div class=\"exp-list\">\n            <div class=\"exp-item reveal\">\n                <div class=\"exp-date\">Apr 2024 – Present</div>\n                <div>\n                    <div class=\"exp-company\">EBot AI Solutions PVT LTD</div>\n                    <div class=\"exp-role\">Software Test Engineer</div>\n                    <div class=\"exp-desc\">\n                        Built custom headless Playwright pipelines reducing test runtime by over 45%. Oversaw a robust\n                        manual-to-automation migration, increasing feature verification velocity across CI/CD.\n                        Introduced performance baselining with k6, catching regression spikes before production deploys.\n                    </div>\n                </div>\n                <div class=\"exp-arrow\">↗</div>\n            </div>\n\n            <div class=\"exp-item reveal\">\n                <div class=\"exp-date\">Jun 2023 – Mar 2024</div>\n                <div>\n                    <div class=\"exp-company\">Test Yantra</div>\n                    <div class=\"exp-role\">QA Intern</div>\n                    <div class=\"exp-desc\">\n                        Authored and executed over 1,500 integration and sanity checks across multiple product\n                        verticals. Integrated Jenkins CI automation, ensuring zero critical escapes reaching customer\n                        releases. Gained deep proficiency in API testing with Postman and REST Assured.\n                    </div>\n                </div>\n                <div class=\"exp-arrow\">↗</div>\n            </div>\n        </div>\n    </section>\n\n    <!-- PROJECTS -->\n    <section id=\"projects\">\n        <p class=\"section-label reveal\">Personal Work</p>\n        <h2 class=\"section-title reveal\">Things I've <em>Built & Broken</em></h2>\n\n        <div class=\"projects-grid\">\n            <div class=\"project-card reveal\">\n                <div class=\"project-num\">01 / Automation</div>\n                <div class=\"project-name\">Headless E2E Playwright Pipeline</div>\n                <p class=\"project-desc\">Full CI-integrated end-to-end test suite covering auth flows, dashboard\n                    interactions, and API contract checks — running headless in GitHub Actions on every PR merge.</p>\n                <div class=\"project-tags\">\n                    <span class=\"tag\">Playwright</span>\n                    <span class=\"tag\">TypeScript</span>\n                    <span class=\"tag\">GitHub Actions</span>\n                    <span class=\"tag\">Docker</span>\n                </div>\n                <div class=\"project-metrics\">\n                    <div class=\"metric\">Runtime <span>↓45%</span></div>\n                    <div class=\"metric\">Coverage <span>98%</span></div>\n                </div>\n            </div>\n\n            <div class=\"project-card reveal\">\n                <div class=\"project-num\">02 / Performance</div>\n                <div class=\"project-name\">k6 Load Testing Framework</div>\n                <p class=\"project-desc\">Scalable load-testing framework simulating 10,000+ concurrent users. Produces\n                    automated HTML reports with P95/P99 latency breakdowns and throughput graphs.</p>\n                <div class=\"project-tags\">\n                    <span class=\"tag\">k6</span>\n                    <span class=\"tag\">JavaScript</span>\n                    <span class=\"tag\">InfluxDB</span>\n                    <span class=\"tag\">Grafana</span>\n                </div>\n                <div class=\"project-metrics\">\n                    <div class=\"metric\">Users <span>10k+ simulated</span></div>\n                    <div class=\"metric\">P99 <span>monitored</span></div>\n                </div>\n            </div>\n\n            <div class=\"project-card reveal\">\n                <div class=\"project-num\">03 / API</div>\n                <div class=\"project-name\">REST API Contract Test Suite</div>\n                <p class=\"project-desc\">Postman + REST Assured collection covering 200+ endpoints with schema\n                    validation, auth token flows, and negative test cases. Integrated into Jenkins nightly builds.</p>\n                <div class=\"project-tags\">\n                    <span class=\"tag\">Postman</span>\n                    <span class=\"tag\">REST Assured</span>\n                    <span class=\"tag\">Java</span>\n                    <span class=\"tag\">Jenkins</span>\n                </div>\n                <div class=\"project-metrics\">\n                    <div class=\"metric\">Endpoints <span>200+</span></div>\n                    <div class=\"metric\">Escapes <span>0 critical</span></div>\n                </div>\n            </div>\n\n            <div class=\"project-card reveal\">\n                <div class=\"project-num\">04 / Mobile</div>\n                <div class=\"project-name\">Appium Cross-Device Test Grid</div>\n                <p class=\"project-desc\">Multi-device Appium grid testing native Android and iOS flows in parallel, wired\n                    to BrowserStack for real-device matrix coverage across 25+ device/OS combinations.</p>\n                <div class=\"project-tags\">\n                    <span class=\"tag\">Appium</span>\n                    <span class=\"tag\">BrowserStack</span>\n                    <span class=\"tag\">Python</span>\n                    <span class=\"tag\">Selenium Grid</span>\n                </div>\n                <div class=\"project-metrics\">\n                    <div class=\"metric\">Devices <span>25+ combos</span></div>\n                    <div class=\"metric\">Parallel <span>enabled</span></div>\n                </div>\n            </div>\n\n            <div class=\"project-card reveal\">\n                <div class=\"project-num\">05 / CI/CD</div>\n                <div class=\"project-name\">Quality Gate Pipeline</div>\n                <p class=\"project-desc\">End-to-end GitHub Actions quality gate — lint, unit tests, integration tests,\n                    visual regression, and performance budget checks — all blocking merge on failure.</p>\n                <div class=\"project-tags\">\n                    <span class=\"tag\">GitHub Actions</span>\n                    <span class=\"tag\">Docker</span>\n                    <span class=\"tag\">AWS S3</span>\n                    <span class=\"tag\">Slack Alerts</span>\n                </div>\n                <div class=\"project-metrics\">\n                    <div class=\"metric\">Release confidence <span>↑</span></div>\n                    <div class=\"metric\">Manual QA <span>↓70%</span></div>\n                </div>\n            </div>\n\n            <div class=\"project-card reveal\">\n                <div class=\"project-num\">06 / Visual</div>\n                <div class=\"project-name\">Visual Regression Diff Tool</div>\n                <p class=\"project-desc\">Pixel-level screenshot comparison tool using Playwright + Percy, automatically\n                    flagging UI regressions in PRs with annotated diff images attached to GitHub comments.</p>\n                <div class=\"project-tags\">\n                    <span class=\"tag\">Playwright</span>\n                    <span class=\"tag\">Percy</span>\n                    <span class=\"tag\">Node.js</span>\n                    <span class=\"tag\">GitHub API</span>\n                </div>\n                <div class=\"project-metrics\">\n                    <div class=\"metric\">Pixel diffs <span>auto-flagged</span></div>\n                    <div class=\"metric\">PR feedback <span>instant</span></div>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- SKILLS -->\n    <section id=\"skills\">\n        <p class=\"section-label reveal\">Toolkit</p>\n        <h2 class=\"section-title reveal\">What I <em>Work With</em></h2>\n\n        <div class=\"skills-container\">\n            <div class=\"reveal\">\n                <div class=\"skill-group-label\">Automation Frameworks</div>\n                <div class=\"skill-chips\">\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Playwright</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Cypress</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Selenium WebDriver</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Appium</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> TestNG</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> JUnit</span>\n                </div>\n            </div>\n\n            <div class=\"reveal\">\n                <div class=\"skill-group-label\">API & Performance Testing</div>\n                <div class=\"skill-chips\">\n                    <span class=\"skill-chip\"><span class=\"dot dot-purple\"></span> Postman</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-purple\"></span> REST Assured</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-purple\"></span> k6</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-purple\"></span> JMeter</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-purple\"></span> SoapUI</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-purple\"></span> GraphQL Testing</span>\n                </div>\n            </div>\n\n            <div class=\"reveal\">\n                <div class=\"skill-group-label\">CI/CD & DevOps</div>\n                <div class=\"skill-chips\">\n                    <span class=\"skill-chip\"><span class=\"dot dot-green\"></span> GitHub Actions</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-green\"></span> Jenkins</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-green\"></span> Docker</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-green\"></span> AWS</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-green\"></span> Git</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-green\"></span> Jira</span>\n                </div>\n            </div>\n\n            <div class=\"reveal\">\n                <div class=\"skill-group-label\">Languages & Scripting</div>\n                <div class=\"skill-chips\">\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> JavaScript / TypeScript</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Java</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Python</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> Bash</span>\n                    <span class=\"skill-chip\"><span class=\"dot dot-blue\"></span> SQL</span>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <!-- SANDBOX -->\n    <section id=\"sandbox\">\n        <p class=\"section-label reveal\">Live Demo</p>\n        <h2 class=\"section-title reveal\">Interactive <em>Test Sandbox</em></h2>\n        <p class=\"reveal\" style=\"color: var(--muted); max-width: 520px; line-height: 1.7; margin-top: 0.5rem;\">\n            Run a simulated Playwright audit directly on this page and watch the results stream in real time.\n        </p>\n\n        <div class=\"terminal-wrap reveal\">\n            <div class=\"terminal-bar\">\n                <div class=\"dot-r\"></div>\n                <div class=\"dot-y\"></div>\n                <div class=\"dot-g\"></div>\n                <span class=\"terminal-file\">PlaywrightRunner@QA-Hub:~ — portfolio-verification.spec.ts</span>\n            </div>\n            <div class=\"terminal-output\" id=\"terminal-stdout\">\n                <div class=\"t-muted\">// Click \"Run Tests\" to execute the automated audit...</div>\n                <div class=\"t-blue\">$ npx playwright test tests/portfolio-verification.spec.ts --reporter=list</div>\n            </div>\n            <div class=\"terminal-footer\">\n                <div style=\"display: flex; align-items: center; gap: 1rem; flex-wrap: wrap;\">\n                    <span style=\"font-family: 'DM Mono', monospace; font-size: 0.75rem; color: var(--muted);\">Suite: <strong style=\"color: var(--accent)\">6 Automated Audits</strong></span>\n                    <span class=\"t-status status-idle\" id=\"t-badge\">idle</span>\n                </div>\n                <button class=\"run-btn\" id=\"run-btn\" onclick=\"runTests()\">\n                <i class=\"bi bi-play-fill\"></i> Run Tests\n            </button>\n            </div>\n        </div>\n    </section>\n\n    <!-- CONTACT -->\n    <section id=\"contact\">\n        <p class=\"section-label reveal\">Contact</p>\n        <h2 class=\"section-title reveal\">Let's Build <em>Something</em></h2>\n\n        <div class=\"contact-inner\">\n            <div class=\"reveal\">\n                <p class=\"contact-cta-text\">Open to QA Engineer roles & freelance contracts.</p>\n                <p style=\"color: var(--muted); line-height: 1.7; margin-bottom: 2rem; font-size: 0.95rem;\">\n                    If you're building something that needs precision validation — an AI product, a fintech platform, or\n                    just want to nerd out about test architectures — I'd love to talk.\n                </p>\n                <div class=\"contact-links\">\n                    <a href=\"mailto:amritraj.qa@gmail.com\" class=\"contact-link-item\">\n                        <i class=\"bi bi-envelope-at-fill\"></i>\n                        amritraj.qa@gmail.com\n                    </a>\n                    <a href=\"https://in.linkedin.com/in/rajamrit23\" target=\"_blank\" class=\"contact-link-item\">\n                        <i class=\"bi bi-linkedin\"></i>\n                        linkedin.com/in/rajamrit23\n                    </a>\n                    <a href=\"https://github.com/rajamrit23\" target=\"_blank\" class=\"contact-link-item\">\n                        <i class=\"bi bi-github\"></i>\n                        github.com/rajamrit23\n                    </a>\n                </div>\n            </div>\n\n            <div class=\"contact-form-side reveal\">\n                <form id=\"contact-form\">\n                    <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;\">\n                        <div>\n                            <label class=\"form-label\">Full Name</label>\n                            <input id=\"c-name\" type=\"text\" placeholder=\"Jane Doe\" required>\n                        </div>\n                        <div>\n                            <label class=\"form-label\">Email</label>\n                            <input id=\"c-email\" type=\"email\" placeholder=\"jane@company.com\" required>\n                        </div>\n                    </div>\n                    <label class=\"form-label\">Message</label>\n                    <textarea id=\"c-msg\" placeholder=\"Let's build reliable software together...\" required></textarea>\n                    <button type=\"submit\" class=\"form-submit\" id=\"form-btn\">Send Message</button>\n                </form>\n            </div>\n        </div>\n    </section>\n\n    <!-- FOOTER -->\n    <footer>\n        <p>© 2026 Amrit Raj · Designed & Built with precision.</p>\n        <div class=\"foot-socials\">\n            <a href=\"https://in.linkedin.com/in/rajamrit23\" target=\"_blank\"><i class=\"bi bi-linkedin\"></i></a>\n            <a href=\"https://github.com/rajamrit23\" target=\"_blank\"><i class=\"bi bi-github\"></i></a>\n            <a href=\"https://www.instagram.com/amrit_raj23/\" target=\"_blank\"><i class=\"bi bi-instagram\"></i></a>\n            <a href=\"https://www.facebook.com/rajamrit23/\" target=\"_blank\"><i class=\"bi bi-facebook\"></i></a>\n            <a href=\"mailto:amritraj.qa@gmail.com\"><i class=\"bi bi-envelope-at-fill\"></i></a>\n        </div>\n    </footer>\n\n    <!-- Enterprise Bot -->\n    <script type=\"text/javascript\">\n        var currentBotId = \"68f0f460c682d3e04573ec2f\";\n    </script>\n    <script src=\"https://sit-aida-live-chat.enterprisebot.co/dist/default/ebInitChatWindow.bundle.js\"></script>\n\n    <script>\n        // ── TYPING EFFECT ──\nconst phrases = [\n    \"I automate the chaos.\",\n    \"I build test pipelines.\",\n    \"I break code on purpose.\",\n    \"I ship quality, not bugs.\",\n    \"Playwright · Cypress · k6\"\n];\nlet pi = 0, ci = 0, deleting = false;\nconst el = document.getElementById('typed-text');\n\nfunction type() {\n    const word = phrases[pi];\n    el.textContent = deleting ? word.slice(0, --ci) : word.slice(0, ++ci);\n    if (!deleting && ci === word.length) { setTimeout(() => deleting = true, 1800); }\n    else if (deleting && ci === 0) { deleting = false; pi = (pi + 1) % phrases.length; }\n    setTimeout(type, deleting ? 45 : 80);\n}\ntype();\n\n// ── SCROLL REVEAL ──\nconst observer = new IntersectionObserver(entries => {\n    entries.forEach(e => { if (e.isIntersecting) { e.target.classList.add('in'); } });\n}, { threshold: 0.12 });\ndocument.querySelectorAll('.reveal').forEach(el => observer.observe(el));\n\n// ── TERMINAL TEST ──\nfunction runTests() {\n    const btn = document.getElementById('run-btn');\n    const out = document.getElementById('terminal-stdout');\n    const badge = document.getElementById('t-badge');\n    if (btn.disabled) return;\n\n    btn.disabled = true;\n    btn.innerHTML = '<i class=\"bi bi-arrow-clockwise\"></i> Running...';\n    badge.className = 't-status status-running';\n    badge.textContent = 'running';\n    out.innerHTML = '';\n\n    const lines = [\n        { cls: 't-muted', text: '[INFO] Launching Playwright v1.44.0 (Chromium headless)...' },\n        { cls: 't-blue',  text: '[INFO] Target: http://localhost:1880/portfolio' },\n        { cls: 't-white', text: '  ● TEST 1 — Page load & HTTP 200 status check' },\n        { cls: 't-green', text: '    ✔  PASS — HTTP 200 returned in 312ms' },\n        { cls: 't-white', text: '  ● TEST 2 — Navigation links resolve correctly' },\n        { cls: 't-green', text: '    ✔  PASS — All 6 anchor hrefs validated' },\n        { cls: 't-white', text: '  ● TEST 3 — Responsive layout (sm / md / lg breakpoints)' },\n        { cls: 't-green', text: '    ✔  PASS — Flexbox containers match all breakpoints' },\n        { cls: 't-white', text: '  ● TEST 4 — Contact form validation & submission event' },\n        { cls: 't-green', text: '    ✔  PASS — Required field guards firing correctly' },\n        { cls: 't-white', text: '  ● TEST 5 — DOM event hooks & JS listener integrity' },\n        { cls: 't-green', text: '    ✔  PASS — All interactive elements responding' },\n        { cls: 't-white', text: '  ● TEST 6 — Visual regression pixel diff check' },\n        { cls: 't-green', text: '    ✔  PASS — 0 pixel mismatches vs baseline' },\n        { cls: 't-muted', text: '──────────────────────────────────────────────' },\n        { cls: 't-white', text: 'RESULT SUMMARY' },\n        { cls: 't-green', text: '  ✔ 6 Passed   ✖ 0 Failed   ⏱ 2.4s total' },\n        { cls: 't-blue',  text: '[EXIT] Playwright exited cleanly — status 0' },\n    ];\n\n    let d = 0;\n    lines.forEach(l => {\n        setTimeout(() => {\n            const div = document.createElement('div');\n            div.className = l.cls;\n            div.textContent = l.text;\n            out.appendChild(div);\n            out.scrollTop = out.scrollHeight;\n        }, d);\n        d += 320;\n    });\n\n    setTimeout(() => {\n        btn.disabled = false;\n        btn.innerHTML = '<i class=\"bi bi-arrow-repeat\"></i> Run Again';\n        badge.className = 't-status status-passed';\n        badge.textContent = 'passed';\n    }, d);\n}\n\n// ── CONTACT FORM ──\ndocument.getElementById('contact-form').addEventListener('submit', async function(e) {\n    e.preventDefault();\n    const btn = document.getElementById('form-btn');\n    btn.disabled = true;\n    btn.textContent = 'Sending...';\n\n    const payload = {\n        name: document.getElementById('c-name').value,\n        email: document.getElementById('c-email').value,\n        message: document.getElementById('c-msg').value\n    };\n\n    try {\n        const res = await fetch('/portfolio-contact', {\n            method: 'POST',\n            headers: { 'Content-Type': 'application/json' },\n            body: JSON.stringify(payload)\n        });\n        if (res.ok) {\n            btn.textContent = '✔ Message Sent!';\n            btn.style.background = '#34d399';\n            this.reset();\n        } else throw new Error();\n    } catch {\n        btn.textContent = '✖ Failed — try email directly';\n        btn.style.background = '#f87171';\n    }\n\n    setTimeout(() => {\n        btn.disabled = false;\n        btn.textContent = 'Send Message';\n        btn.style.background = '';\n    }, 4000);\n});\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "369c63f3bc8fedb3"
            ]
        ]
    },
    {
        "id": "369c63f3bc8fedb3",
        "type": "http response",
        "z": "d5b1b679fd6782b5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 240,
        "wires": []
    }
]